<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{homePage :: head}"></head>
    <link rel="stylesheet" href="/css/checkout/checkout.css">
    <link rel="stylesheet" href="/css/theme-custom.css" />


    <title>Check-out Page</title>

    <body class="header_section">
        <div th:replace="~{homePage :: header_section}"></div>
        <!-- shopping cart -->
        <div class="cart position-fixed">
            <h2>Shopping Cart</h2>
            <button onclick="closecart()" type="button" class="close close-mask" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 th:if="${session.cart==null}" style="margin-left: 20px;">There are no items</h3>
            <!-- product -->
            <div class="product" th:if="${session.cart!=null}">
                <div class="container">
                    <input id="cartId" name="cartId" th:value="${session.cart.getId()}" hidden>
                    <div class="row" th:each=" item : ${session.cart.getListItem()}" style="margin-bottom: 10px;">
                        <div class="col-2">
                            <img th:src="${item.getProduct().getImages()}" style="width: 100%;">
                        </div>
                        <div class="col-4" style="max-width: 30%;">
                            <a class="productName" th:text="${item.getProduct().getName()}"
                                th:href="@{'/products/get-product-infor/' + ${item.getProduct().getId()}}"></a>
                        </div>

                        <div>
                            <input id="page" name="page" value="checkout" hidden>
                            <input id="productId" name="productId" th:value="${item.getProduct().getId()}" hidden>
                            <input id="productPrice" name="productPrice" th:value="${item.getProduct().getPrice()}"
                                hidden>
                            <button id="decreaseBtn" class="decreaseBtn">-</button>

                            <input name="productQuantity" id="productQuantity"
                                th:value="${item.getProduct().getQuantity()}" hidden>
                            <input type="text" id="quantity" name="quantity" th:value="${item.getQuantity()}"
                                style="width: 50px; height: 50px; padding: 0; text-align: center;" readonly>

                            <button id="increaseBtn" class="decreaseBtn">+</button>
                        </div>

                        <div class="col-2 formatPrice" style="padding-left: 30px; padding-top: 10px;" id="subtotal"
                            th:text="${item.getSubtotal()}">
                        </div>
                        <div class="col-2">
                            <!-- <button type="submit" class="close">x</button> -->
                            <a th:href="@{/users/delete-product-in-cart(productId=${item.getProduct().getId()}, mode='inCheckout')}"
                                class="close"><span>x</span></a>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </div>
            <hr th:if="${session.cart != null}">
            <div class="checkout-space" th:if="${session.cart != null}">
                <div class=" total-checkout">
                    <h4>Total: <span th:text="${session.cart.getTotal()}" class="formatPrice" id="total"></span>
                    </h4>
                </div>
                <br />
                <a th:href="@{/users/checkout-page}" th:if="${session.user != null}">
                    <button class="btn-checkout" id="checkoutBtn">Checkout
                    </button>
                </a>
                <a onclick="showLogin()" th:if="${session.user == null}">
                    <button class="btn-checkout">Login
                    </button>
                </a>
            </div>
        </div>
        <!-- end shopping cart -->
        <div class="closeMask"></div>
        </div>
        <div>
            <h2 style="text-align: center; margin-top: 20px; margin-bottom: -25px;">Checkout</h2>
        </div>
        <div class="breadcrumb-wrapper">
            <div class="breadcrumb-area breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <nav class role="navigation" aria-label="breadcrumbs">
                                    <ul class="breadcrumb-list">
                                        <li>
                                            <a href="/" title="Back to the home page">Home</a>
                                        </li>
                                        <li>
                                            <span>Checkout</span>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container content-wrapper">
            <div class="row main-row">
                <main id="primary" class="site-main no-sidebar checkout-layout5">
                    <article id="post-15" class="post-15 page type-page status-publish hentry">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper"></div>
                                <div class="botiga-sc botiga-sc-layout5">
                                    <div class="woocommerce-notices-wrapper"></div>
                                    <form name="checkout" class="botiga-sc-form checkout woocommerce-checkout"
                                        th:action="@{/users/add-order}" method="GET" id="orderForm">
                                        <div class="botiga-sc-order-review">
                                            <div class="botiga-sc-contents">
                                                <div class="botiga-sc-content-item active"
                                                    data-content-id="information">
                                                    <div class="botiga-sc-content-item-block">
                                                        <h3 class="botiga-sc-heading">Contact Information</h3>
                                                        <div class="botiga-sc-fields">
                                                            <div class="botiga-sc-contact-information">
                                                                <div class="botiga-sc-account-info"
                                                                    th:object="${session.user}">
                                                                    <input type="hidden" name="billing_email"
                                                                        id="billing_email"
                                                                        th:value="${session.user.getEmail()}"
                                                                        class="botiga-sc-field-email">
                                                                    Welcome,
                                                                    <strong
                                                                        th:text="${user.getFullname() != null ? user.getFullname() : user.getEmail()}"></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="botiga-sc-content-item-block">
                                                        <h3 class="botiga-sc-heading">
                                                            Billing Address </h3>
                                                        <div class="botiga-sc-fields">
                                                            <div class="row" th:object="${session.user}">
                                                                <p class="form-row form-row-wide address-field col-md-12 validate-required"
                                                                    id="billing_address_1_field" data-priority="30">
                                                                    <label for="billing_address_1"
                                                                        class="billing-address">Full
                                                                        Name&nbsp;<abbr class="required"
                                                                            title="required">*</abbr></label><span
                                                                        class="woocommerce-input-wrapper"><input
                                                                            type="text"
                                                                            class="input-text botiga-sc-field-address_1"
                                                                            placeholder="House number and street name"
                                                                            autocomplete="address-line1"
                                                                            required="required"
                                                                            th:value="${user.getFullname()}"
                                                                            name="name"></span>
                                                                </p>
                                                                <p class="form-row form-row-wide address-field col-md-12 validate-required"
                                                                    id="billing_address_1_field" data-priority="30">
                                                                    <label for="billing_address_1"
                                                                        class="billing-address">Street
                                                                        address&nbsp;<abbr class="required"
                                                                            title="required">*</abbr></label><span
                                                                        class="woocommerce-input-wrapper"><input
                                                                            type="text"
                                                                            class="input-text botiga-sc-field-address_1"
                                                                            placeholder="House number and street name"
                                                                            autocomplete="address-line1"
                                                                            required="required"
                                                                            th:value="${user.getAddress()}"
                                                                            name="address"></span>
                                                                </p>
                                                                <p class="form-row form-row-wide col-md-12 validate-required validate-phone"
                                                                    id="billing_phone_field" data-priority="100"><label
                                                                        for="billing_phone"
                                                                        class="billing-address">Phone&nbsp;<abbr
                                                                            class="required"
                                                                            title="required">*</abbr></label><span
                                                                        class="woocommerce-input-wrapper">
                                                                        <input type="tel"
                                                                            class="input-text botiga-sc-field-phone"
                                                                            placeholder="" autocomplete="tel"
                                                                            required="required"
                                                                            th:value="${user.getNumberphone()}"
                                                                            name="numberphone"></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="botiga-sc-cart-summary" th:if="${session.cart == null}">
                                            <script th:inline="javascript">
                                                window.location.href = "/";
                                            </script>
                                        </div>
                                        <div class="botiga-sc-cart-summary" th:if="${session.cart!=null}">
                                            <input type="hidden" name="amount" th:value="${session.cart.getTotal()}">
                                            <input type="hidden" name="orderInfo"
                                                th:value="'Cart checkout ' + ${session.cart.getId()}">

                                            <div class="botiga-sc-cart-summary-item">
                                                <div class="botiga-sc-cart-products"
                                                    th:each="item, iterStat : ${session.cart.getListItem()}">
                                                    <div class="botiga-sc-product"
                                                        th:classappend="${iterStat.index > 2} ? 'hidden-item' : ''">
                                                        <div class="botiga-sc-product-thumbnail">
                                                            <figure>
                                                                <img width="150" height="150"
                                                                    th:src="${item.getProduct().getImages()}"
                                                                    class="attachment-thumbnail size-thumbnail" alt=""
                                                                    loading="lazy">
                                                            </figure>
                                                            <span class="botiga-sc-product-quantity"
                                                                th:text="${item.getQuantity()}"
                                                                id="quantityIncart"></span>
                                                        </div>
                                                        <div class="botiga-sc-product-info">
                                                            <div class="botiga-sc-product-name">
                                                                <span th:text="${item.getProduct.getName()}">
                                                                </span>
                                                                <dl class="variation">
                                                                    <dt class="variation-Vendor">Vendor:</dt>
                                                                    <dd class="variation-Vendor"
                                                                        style="margin-bottom: -15px;">
                                                                        <p
                                                                            th:text="${item.getProduct().getManufacturer().getName()}">
                                                                        </p>
                                                                    </dd>
                                                                </dl>
                                                            </div>
                                                            <div class="botiga-sc-product-subtotal">
                                                                <span class="woocommerce-Price-amount amount">
                                                                    <bdi class="formatPrice"
                                                                        th:text="${item.getSubtotal()}"></bdi>
                                                                </span>
                                                            </div>
                                                            <div class="botiga-sc-product-exist">
                                                                <span style="color: green; font-weight: 600;">
                                                                    Available in stock:
                                                                </span>
                                                                <span th:text="${item.getProduct().getQuantity()}">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p id="show-more-btn" th:if="${session.cart.getListItem().size() > 3}">
                                                Show More
                                            </p>
                                            <br />
                                            <div class="botiga-sc-cart-summary-item">
                                                <div class="botiga-sc-cart-total">
                                                    <table class="woocommerce-checkout-review-order-table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Subtotal</td>
                                                                <td><span class="woocommerce-Price-amount amount"><bdi
                                                                            th:text="${session.cart.getTotal()}"
                                                                            class="formatPrice"></bdi></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td>Total</td>
                                                                <td>
                                                                    <strong>
                                                                        <span class="woocommerce-Price-amount amount">
                                                                            <bdi th:text="${session.cart.getTotal()}"
                                                                                class="formatPrice"></bdi>
                                                                        </span>
                                                                    </strong>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="botiga-sc-cart-summary-item">
                                                <h3 class="botiga-sc-heading">Payment Method
                                                </h3>
                                                <h5 class="botiga-sc-heading-sub">All transactions are secure and
                                                    encrypted.</h5>
                                                <div class="receiver col-lg-4">
                                                    <select id="paymentMethod" class="paymentMethod"
                                                        name="payment_method">
                                                        <option value="cod">COD (Cash on Delivery)</option>
                                                        <option value="credit_card">Credit Card</option>
                                                    </select>
                                                </div>
                                                <button type="submit"
                                                    class="button botiga-sc-submit-button botiga-sc-submit-button-desktop"
                                                    name="woocommerce_checkout_place_order" id="place_order"
                                                    value="Place order" data-value="Place order">Place order</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>
                </main> <!-- #main -->
            </div><!-- .entry-content -->
        </div>
        <footer th:replace=" ~{homePage.html :: footer_section}">
        </footer>

        <button id="topButton"><i class="fa fa-arrow-up"></i></button>
    </body>

    <script th:inline="javascript">
        const showMoreBtn = document.getElementById( 'show-more-btn' );
        if ( showMoreBtn )
        {
            showMoreBtn.addEventListener( 'click', () =>
            {
                const hiddenItems = document.querySelectorAll( '.hidden-item' );
                hiddenItems.forEach( item =>
                {
                    item.classList.remove( 'hidden-item' );
                } );
                showMoreBtn.style.display = 'none';
            } );
        }

        const paymentMethod = document.getElementById( 'paymentMethod' );
        if ( paymentMethod )
        {
            paymentMethod.addEventListener( 'change', function ()
            {
                var form = document.getElementById( 'orderForm' );

                if ( paymentMethod.value === 'credit_card' )
                {
                    form.action = /*[[ @{/submitOrder} ]]*/ '';
                    form.method = 'POST';
                } else
                {
                    form.action = /*[[ @{/users/add-order} ]]*/ '';
                    form.method = 'GET';
                }
            } );
        }

        alert_action(/*[[${alert}]]*/ )

    </script>
    <style>
        #show-more-btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px 0;
            font-size: 16px;
            color: black;
            background-color: #a1ed88;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s ease;
            font-weight: 600;
        }

        #show-more-btn:hover {
            background-color: #469027;
            color: whitesmoke;
        }

        .hidden-item {
            display: none;
        }
    </style>

</html>