<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{products/products ::head}"></head>

    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">
        <nav th:fragment="header-navbar"
            class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row" style="padding: 10px;">
                        <div id="logo">
                            <h1><a href="/">NAD</a></h1>
                        </div>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <a>

                            </a>
                        </ul>
                        <ul th:replace="products/products.html :: login-space"></ul>
                    </div>
                    <div th:replace="products/products.html :: profile"></div>
                    <div th:replace="products/products.html :: changePass"></div>

                </div>
            </div>
        </nav>

        <div th:replace="products/products.html :: main-menu"></div>

        <div class="app-content content">
            <div class="content-wrapper">
                <div class=" content-header row">
                    <h4>List Orders</h4>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-1">
                        <h5>Order Id</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>User Id</h5>
                    </div>
                    <div class="col-lg-2">
                        <h5>Total</h5>
                    </div>
                    <div class="col-lg-2">
                        <h5>Date</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>Action</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>View-detail</h5>
                    </div>
                </div>
                <br>

                <div class="content-body" th:each=" order: ${orders}">
                    <div class="row grouped-multiple-statistics-card">
                        <div class="col-lg-1">
                            <b name="orderId" th:text="${order.orderId}"></b>
                        </div>
                        <div class="col-lg-1">
                            <b th:text="${order.user.id}"></b>
                        </div>
                        <div class="col-lg-2">
                            <h6 th:text="${order.total+'00 VND'}"></h6>
                        </div>
                        <div class="col-lg-2">
                            <h6 th:text="${order.getOrderDate()}"></h6>
                        </div>
                        <div class="col-lg-1">
                            <a th:href="@{/orders/change-status/{id}(id=${order.orderId})}">
                                <button class="custom-btn btn-5" style="width: 100px;" th:if="${order.status == 0}">
                                    <h7>Pending</h7>
                                </button>
                                <button class="custom-btn btn-6" style="width: 100px;" th:if="${order.status == 1}">
                                    <h7>Delivered</h7>
                                </button>
                            </a>
                        </div>
                        <div class="col-lg-1">
                            <button id="viewOrderDetail" class="custom-btn btn-14" style="width: 100px;"
                                th:onclick="'loadOrderDetail(\'' + ${order.orderId} + '\')'">
                                <h7>View</h7>
                            </button>
                        </div>

                    </div>
                    <div class="orderDetail" th:classappend="${order.orderId}"
                        style="padding: 70px;  width: 33%; top: 111px; position: fixed; right: 0px; display: none;">
                        <button class="close" onclick="closeOrderDetail(this)"> X </button>
                        <h5> Order id: [(${order.orderId})]</h5><br>
                        <div class="row mb-3" th:each=" item: ${order.orderDetails}">
                            <div class="col-lg-3">
                                <img th:src="${item.product.getImages()}" style="width: 120px;">
                            </div>
                            <div class="col-lg-4">
                                <h7 th:text="${item.product.getName()}"></h7>
                            </div>
                            <div class="col-lg-1">
                                <p th:text="${item.quantity}">1</p>
                            </div>
                            <div class="col-lg-4"><b>[(${item.finalPrice})]00 VND</b></div>
                        </div>

                    </div>
                    <br>
                </div>
                <!-- <div class="orderDetail"
                    style="padding:70px; margin-left: auto; width: 33%; top: 111px; position: fixed; right: 0;">
                </div> -->
            </div>
        </div>


        <footer th:replace="~{products/products :: footer}"></footer>
    </body>
    <script th:inline="javascript">
        function loadOrderDetail ( orderId )
        {
            $( '.orderDetail' ).each( ( i, e ) =>
            {

                if ( $( e ).is( ':visible' ) && !$( e ).hasClass( orderId ) )
                {
                    $( e ).fadeOut();
                }
            } );

            $( '.orderDetail.' + orderId ).fadeToggle();
        }
        function closeOrderDetail ( e )
        {
            $( e ).parent().fadeOut();
        }

        function showChangePass ()
        {
            $( '.changePass' ).addClass( 'w-25' );
            $( '.profile' ).removeClass( "w-25" );
        }
        function closeChangePass ()
        {
            $( '.changePass' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();

        }
        function showProfile ()
        {
            $( '.profile' ).addClass( "w-25" );
            $( '.changePass' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeIn();
        }
        function closeProfile ()
        {
            $( '.profile' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();
        }
        $( '.closeMask' ).click( ( e ) =>
        {
            if ( e.target.classList.contains( 'closeMask' ) )
                $( 'button.close.close-mask' ).click();
        } );
        alert_action(/*[[${alert}]]*/ )

        // let previousId = 0;
        // function loadOrderDetail ( orderId )
        // {
        //     if ( $( '.orderDetail' ).is( ':visible' ) )
        //     {
        //         if ( previousId === orderId )
        //         {
        //             closeOrderDetail();
        //         } else
        //         {
        //             closeOrderDetail( function ()
        //             {
        //                 {
        //                     loadNewOrderDetail( orderId );
        //                     previousId = orderId;
        //                 }
        //             } );
        //         }
        //     } else
        //     {
        //         loadNewOrderDetail( orderId );
        //         previousId = orderId;
        //     }
        // }

        // function loadNewOrderDetail ( orderId )
        // {
        //     $.ajax( {
        //         url: '/orders/get-order-detail/' + orderId,
        //         type: 'GET',
        //         success: function ( data )
        //         {
        //             var orderDetailContent = '';
        //             orderDetailContent += '<button class="close" onclick="closeOrderDetail()"> X </button>';
        //             orderDetailContent += '<h5> Order id: ' + orderId + '</h5>'
        //             orderDetailContent += '<br>'

        //             for ( var i = 0; i < data.length; i++ )
        //             {
        //                 orderDetailContent += '<div class="row">';
        //                 orderDetailContent += '<div class="col-lg-3"><img  src="' + data[ i ].product.productImages + '" style="width: 120px;"></div>';
        //                 orderDetailContent += '<div class="col-lg-4"><h7>' + data[ i ].product.productName + '</h7></div>';
        //                 orderDetailContent += '<div class="col-lg-1"><p>' + data[ i ].quantity + '</p></div>';
        //                 orderDetailContent += '<div class="col-lg-4"><b>' + data[ i ].price + '.000 VND</b></div>';
        //                 orderDetailContent += '</div><hr><br>';
        //             }

        //             $( '.orderDetail' ).html( orderDetailContent );
        //             $( '.orderDetail' ).show( 'slow' );
        //         },
        //         error: function ()
        //         {
        //             console.error( 'Failed to load order details from the API' );
        //         }
        //     } );
        // }

        // function closeOrderDetail ( callback )
        // {
        //     $( '.orderDetail' ).hide( 'slow', callback );
        // }

    </script>

</html>