<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{products/products ::head}"></head>
    <link rel="stylesheet" href="/css/order.css" />

    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">
        <nav th:fragment="header-navbar"
            class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row" style="padding: 10px;">
                        <div id="logo">
                            <h1><a href="/">NAP</a></h1>
                        </div>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <a>

                            </a>
                            <h4 style="margin: auto;margin-left: 700px">List Orders</h4>
                        </ul>
                        <ul th:fragment="login-space" class="nav navbar-nav float-right"
                            style="width: 85px; overflow: hidden;">
                            <li>
                                <button th:if="${session.admin!=null}" id="toggleButton" onclick="toggleButtons()"
                                    class="option"><span th:text="${session.admin.getUsername()}"></span></button>

                                <button th:if="${session.staff!=null}" id="toggleButton" onclick="toggleButtons()"
                                    class="option"><span th:text="${session.staff.getUsername()}"></span></button>

                                <div id="buttonContainer">
                                    <a href="#" onclick="showProfile()" th:if="${session.admin==null}" class="option"
                                        style="margin-right: 10px;">Edit Profile</a>
                                    <a th:href="@{/logout}" class="option">Logout</a>
                                </div>

                                <div th:fragment="profile" class="profile position-fixed">
                                    <h2>Staff profile</h2>
                                    <button onclick="closeProfile()" type="button" class="close close-mask"
                                        aria-label="Close">
                                        <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                                    </button>
                                    <div class="staff" th:if="${session.staff!=null}">
                                        <div class="container">
                                            <div class="row" style="margin-bottom: 10px;" id="profileForm">
                                                <form action="/staffs/update-staff" method="POST" th:object="${staff}">
                                                    <input type="hidden" name="id" th:field="*{id}">
                                                    <input type="hidden" name="mode" value="staff">
                                                    <input type="hidden" name="mode" value="staff"><input
                                                        id="usernameInput" th:field="*{username}" type="text"
                                                        class="form-control" hidden>
                                                    <span id="usernameError" style="color: red;"></span>
                                                    <div class="form-group">
                                                        <p>Full-name: </p>
                                                        <input type="text" class="form-control" th:field="*{fullname}">
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Numberphone: </p>
                                                        <input type="text" class="form-control"
                                                            th:field="*{numberphone}">
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Email: </p>
                                                        <input id="originalEmail" name="originalEmail"
                                                            th:value="${staff.getEmail()}" hidden>
                                                        <input id="emailInput" th:field="*{email}" type="email"
                                                            class="form-control" onfocusout="checkExistEmail()">
                                                        <span id="emailError"
                                                            style="color: red;padding-left: 18px;"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Dob: </p>
                                                        <input type="date" class="form-control" th:field="*{dob}">
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Id card: </p>
                                                        <input type="text" class="form-control" th:field="*{idcard}"
                                                            readonly>
                                                    </div>

                                                    <button type="submit" id="submitRegister" class="btn btn-info">
                                                        <i class="fa fa-check"></i>
                                                        Save
                                                    </button>
                                                </form>
                                                <a href="#">
                                                    <button class="btn btn-info" onclick="showChangePass()">
                                                        <i class="fa fa-check"></i>
                                                        Change password
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:fragment="changePass" class="changePass position-fixed"
                                    th:if="${session.staff!=null}">
                                    <h2>Change password</h2>
                                    <button onclick="closeChangePass()" type="button" class="close close-mask"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="container">
                                        <div class="row ">
                                            <div class="col-lg-12">
                                                <form action="/staffs/do-change-pass" method="POST">
                                                    <input type="hidden" th:value="${session.staff.getId()}" name="id">
                                                    <div class="form-group">
                                                        <p> Enter old password: </p>
                                                        <input type="password" name="oldPassword" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <p> Enter new password: </p>
                                                        <input type="password" name="newPassword" class="form-control">
                                                    </div>
                                                    <button type="submit" class="btn btn-info">
                                                        <i class="fa fa-check"></i>
                                                        Save
                                                    </button>
                                                    <br>
                                                    <a href="#" onclick="closeChangePass()">Cancel</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div th:replace="~{products/products.html :: main-menu}"></div>

        <div class="app-content content">
            <div th:if="${orders!=null}" class="content-wrapper">
                <div class="content-body">
                    <table id="dataTable" class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>

                                <th>
                                    User Id
                                </th>

                                <th>
                                    Total
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Payment
                                </th>
                                <th>View-detail</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="order : ${orders}">
                                <td th:text="${order.id}"></td>
                                <td th:text="${order.user.id}"></td>
                                <td th:text="${order.total}" class="formatPrice"></td>
                                <td th:text="${order.getOrderDate()}"></td>
                                <td>[(${order.getShowStatus()})]</td>
                                <td th:text="${order.getType()}"></td>
                                <td>
                                    <button id="viewOrderDetail" class="custom-btn btn-14" style="width: 100px;"
                                        th:onclick="'loadOrderDetail(\'' + ${order.id} + '\', ' + ${order.status} + ');'">
                                        <h7>View</h7>
                                    </button>
                                </td>
                                <td>
                                    <a th:href="@{/orders/delete/{id}(id=${order.id})}">
                                        <button class="custom-btn btn-5"
                                            th:if="${order.status == 3 && session.staff==null}">Delete
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:each=" order: ${orders}">
                        <div class="orderDetail" th:classappend="${order.id}"
                            style="overflow: auto;padding: 70px; width: 1400px; height: 650px; top: 50%; left: 50%; transform: translate(-50%, -50%); position: fixed; display: none; z-index: 9999; background-color: white; border: 2px solid black; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
                            <h5 style="margin-top: -50px"> #[(${order.id})] </h5>
                            <div class="shipping">
                                <h3>Shipping Information</h3>
                                <div id="shipping-details">
                                    <div class="shipping-line">
                                        <span class="label">Name:</span>
                                        <span class="info" th:text="${order.getReceiverName()}"></span>
                                    </div>
                                    <div class="shipping-line">
                                        <span class="label">Address:</span>
                                        <span class="info" th:text="${order.getReceiverAddress()}"></span>
                                    </div>
                                    <div class="shipping-line">
                                        <span class="label">Phone:</span>
                                        <span class="info" th:text="${order.getReceiverNumberphone()}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="tracking" th:classappend="${'status-'+order.id}">
                                <a th:href="@{'/orders/change-status/' + ${order.id} + '?status=0'}">
                                    <div class="status-box">
                                        <div class="circle-button1 selected" th:classappend="${'status-'+order.id}"
                                            id="boxIcon"><i class="fas fa-box fa-lg"></i>
                                        </div>
                                    </div>
                                </a>
                                <div class="status-line2" th:classappend="${'status-'+order.id}" id="line2"></div>
                                <a th:href="@{'/orders/change-status/' + ${order.id} + '?status=1'}">
                                    <div class="status-box">
                                        <div class="circle-button2" th:classappend="${'status-'+order.id}"
                                            id="shippingIcon"><i class="fas fa-shipping-fast fa-lg"></i>
                                        </div>
                                    </div>
                                </a>
                                <div class="status-line3" th:classappend="${'status-'+order.id}" id="line3"></div>
                                <a th:href="@{'/orders/change-status/' + ${order.id} + '?status=2'}">
                                    <div class="status-box">
                                        <div class="circle-button3" th:classappend="${'status-'+order.id}"
                                            id="checkIcon"><i class="fas fa-check fa-lg"></i>
                                        </div>
                                    </div>
                                </a>
                                <div class="status-line4" th:classappend="${'status-'+order.id}" id="line4"></div>
                                <a th:href="@{'/orders/change-status/' + ${order.id} + '?status=3'}">
                                    <div class="status-box">
                                        <div class="circle-button4" th:classappend="${'status-'+order.id}"
                                            id="timesIcon"><i class="fas fa-times fa-lg"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <button class="close" onclick="closeOrderDetail(this)"
                                style="width: 40px; height: 40px; margin-top: 54px"> X
                            </button>
                            <table>
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each=" item: ${order.orderDetails}">
                                        <td><img th:src="${item.product.getImages()}" style="width: 120px;">
                                        </td>
                                        <td th:text="${item.product.getName()}"></td>
                                        <td th:text="${item.quantity}"></td>
                                        <td th:text="${item.product.getPrice()}" class="formatPrice"></td>
                                        <td th:text="${item.getFinalPrice()}" class="formatPrice"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div th:if="${orders==null}" class="content-wrapper">
            <h2 class="m-auto"> There are no orders now.</h2>
        </div>
        </div>
    </body>

    <footer th:replace="~{products/products :: footer}"></footer>
    <script th:inline="javascript">
        function selectStatus ( id, status )
        {
            const icons = document.querySelectorAll( `[class^="circle-button"].status-${ id }` );
            const lines = document.querySelectorAll( `[class^="status-line"].status-${ id }` );

            icons.forEach( icon => icon.classList.remove( 'selected' ) );
            lines.forEach( line => line.classList.remove( 'selected' ) );

            for ( let i = 1; i <= status; i++ )
            {
                icons[ i - 1 ].classList.add( 'selected' );
                if ( i < status )
                {
                    lines[ i - 1 ].classList.add( 'selected' );
                }
            }
            if ( status === 4 )
            {
                icons.forEach( icon => icon.classList.add( 'cancel' ) );
                lines.forEach( line => line.classList.add( 'cancel' ) );
                document.querySelectorAll( `.tracking.status-${ id } a` ).forEach( function ( a )
                {
                    a.onclick = function ( event )
                    {
                        event.preventDefault(); // Prevent default action of the <a> tag
                        return false;
                    };
                } );
            }
        }

        function loadOrderDetail ( id, s )
        {
            $( '.orderDetail' ).each( ( i, e ) =>
            {

                if ( $( e ).is( ':visible' ) && !$( e ).hasClass( id ) )
                {
                    $( e ).fadeOut();
                }
            } );

            $( '.orderDetail.' + id ).fadeToggle();
            $( '.closeMask' ).fadeIn();

            var status = parseInt( s ) + 1;
            selectStatus( id, status )

        }

        function closeOrderDetail ( e )
        {
            $( e ).parent().fadeOut();
            $( '.closeMask' ).fadeOut();
        }



        $( '.closeMask' ).click( ( e ) =>
        {
            if ( e.target.classList.contains( 'closeMask' ) )
            {
                $( 'button.close.close-mask' ).click();
                $( '.orderDetail' ).fadeOut(); // Hide all order details
            }
        } );
        new DataTable( '#dataTable', {
            "order": [ [ 3, "dec" ] ],
            "columnDefs": [
                { "orderable": false, "targets": [ 6, 7 ] } // Non-sortable columns 7 and 8 (indices 6 and 7)
            ]
        } );
        alert_action(/*[[${alert}]]*/ )

    </script>


</html>