<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{homePage :: head}"></head>
    <link rel="stylesheet" href="/css/purcharsePage.css">

    <title>Purcharse Page</title>

    <body>
        <div th:replace="homePage :: header_section"></div>

        <div class="closeMask"></div>
        </div>


        <div class="container formReceiver">
            <form th:action="@{/users/add-order}" method="GET">
                <div class="row">
                    <div class="inCart col-lg-8">
                        <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">In Cart</h2>
                        <div th:if="${session.cart!=null}">
                            <div class="row" th:each=" item : ${session.cart.getListItem()}"
                                style="margin-bottom: 10px;">
                                <div class="col-2">
                                    <img th:src="${item.getProduct().getImages()}" style="width: 100%;">
                                </div>
                                <div class="col-4" th:text="${item.getProduct().getName()}">
                                </div>
                                <input type="hidden" th:value="${item.getProduct().getId()}" name="productId">
                                <div style="margin: auto;">
                                    <button type="button" onclick="quantityMinus(this)">-</button>
                                    <input type="text" id="quantity" name="quantity" th:value="${item.getQuantity()}"
                                        style="width: 50px; height: 50px;" readonly>
                                    <button type="button" onclick="quantityPlus(this)">+</button>
                                </div>
                                <div class="col-2 formatPrice" th:text="${item.getSubtotal()}" style="margin: auto;">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="receiver col-lg-4">
                        <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Receiver</h2>
                        <p>Full-name</p>
                        <input type="text" th:value="${session.user.getFullname()}" name="name">
                        <p>Address</p>
                        <input type="text" th:value="${session.user.getAddress()}" name="address">
                        <p>Number-phone</p>
                        <input type="text" th:value="${session.user.getNumberphone()}" name="numberphone">
                    </div>
                    <h4 style="padding: 20px; left: 465px;">Total: <span th:text="${session.cart.getTotal()}"
                            class="formatPrice"></span></h4>
                </div>
                <button type="submit" class="btn btn-info"
                    style="margin: 20px; display: block; margin-left: auto; margin-right: auto;"><i
                        class="fa fa-check"></i>
                    Order</button>
            </form>
        </div>
        </div>

        <footer th:replace=" ~{homePage.html :: footer_section}">
        </footer>

        <button id="topButton"><i class="fa fa-arrow-up"></i></button>
    </body>

    <script th:inline="javascript">

        $( document ).ready( function ()
        {
            $( '.formatPrice' ).each( ( i, e ) =>
            {
                let val = +( $( e ).text() );
                $( e ).text( formatMoney( val ) );
            } );

            function formatMoney ( number )
            {
                return number.toLocaleString( 'vi-VN', {
                    style: 'currency', currency: 'VND'
                } );
            }
        } );


        function showPass ()
        {
            var p = document.getElementById( "password" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function showNewPass ()
        {
            var p = document.getElementById( "newPassword" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function showConfirmPassword ()
        {
            var p = document.getElementById( "confirmPassword" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function onChange ()
        {
            var password = document.querySelector( 'input[id=newPassword]' );
            var confirm = document.querySelector( 'input[id=confirmPassword]' );
            if ( confirm.value === password.value )
            {
                confirm.setCustomValidity( '' );
            } else
            {
                confirm.setCustomValidity( 'Passwords do not match' );
            }
        }
        function showChangePassword ()
        {
            $( "#changePassword" ).removeClass( "d-none" );
            $( "#profileForm" ).addClass( "d-none" );

        }

        function closeChangePassword ()
        {
            $( "#changePassword" ).addClass( "d-none" );
            $( "#profileForm" ).removeClass( "d-none" );

        }
        function showRecoverPassword ()
        {
            $( "#CustomerLoginForm" ).addClass( "d-none" )
            $( "#RecoverPasswordForm" ).removeClass( "d-none" );
        }
        function closeRecoverPassword ()
        {
            $( "#RecoverPasswordForm" ).addClass( "d-none" );
            $( "#CustomerLoginForm" ).removeClass( "d-none" )
            $( "#register" ).addClass( "d-none" );

        }

        function showRegister ()
        {
            $( "#register" ).removeClass( "d-none" );
            $( "#CustomerLoginForm" ).addClass( "d-none" );
        }
        function closeRegister ()
        {
            $( "#register" ).addClass( "d-none" );
            $( "#CustomerLoginForm" ).removeClass( "d-none" );

        }

        $( '.closeMask' ).click( ( e ) =>
        {
            if ( e.target.classList.contains( 'closeMask' ) )
                $( 'button.close.close-mask' ).click();
            closeRecoverPassword();
        } );

        $( document ).ready( function ()
        {
            $( window ).scroll( function ()
            {
                if ( $( this ).scrollTop() > 100 )
                {
                    $( '#topButton' ).fadeIn();
                } else
                {
                    $( '#topButton' ).fadeOut();
                }
            } );

            $( '#topButton' ).click( function ()
            {
                $( 'html, body' ).animate( { scrollTop: 0 }, 400 );
                return false;
            } );
        } );

        function showUserProfile ()
        {
            $( '.userProfile' ).addClass( "w-25" );
            $( '.closeLogin' ).fadeIn();
            $( '.closeMask' ).fadeIn();
        }
        function closeUserProfile ()
        {
            $( '.userProfile' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();
        }

        function showLogin ()
        {
            $( '.login' ).addClass( "w-25" );
            $( '.closeLogin' ).fadeIn();
            $( '.closeMask' ).fadeIn();
        }
        function closeLogin ()
        {
            $( '.login' ).removeClass( "w-25" )
            $( '.closeLogin' ).fadeOut();
            $( '.closeMask' ).fadeOut();
        }

        function showcart ()
        {
            $( '.cart' ).addClass( "w-32" )
            $( '.closeLogin' ).fadeIn();
            $( '.closeMask' ).fadeIn();
        }
        function closecart ()
        {
            $( '.cart' ).removeClass( "w-32" )
            $( '.closeMask' ).fadeOut();
        }
        function quantityPlus ( e )
        {
            let quantity = $( e ).closest( 'div' ).find( 'input' );
            quantity.val( +quantity.val() + 1 );
        }
        function quantityMinus ( e )
        {
            let quantity = $( e ).closest( 'div' ).find( 'input' );
            quantity.val( +quantity.val() - 1 );
        }
        alert_action(/*[[${alert}]]*/ )
    </script>

</html>