<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
			rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>

		<script src='/js/jquery.min.js'></script>
		<script src='/js/bootstrap.min.js'></script>
		<script src="/js/pages/toastr.js"></script>
		<script src="/js/pages/jquery.toast.js"></script>
		<script src='/js/dashboard/onToggle.js' defer></script>


		<script src="/js/dataTables.js"></script>
		<script src="/js/dataTables.bootstrap4.js"></script>

		<script src="/js/validation/checkExist.js"></script>

		<link rel='stylesheet' href='/css/font-awesome.min.css'>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-extended.min.css">
		<link rel="stylesheet" href="/css/components.min.css">
		<link rel="stylesheet" href="/css/pages/vertical-menu-modern.css">
		<link rel="stylesheet" href="/css/drop.css">
		<link rel="stylesheet" href="/css/products.css" />
		<link rel="stylesheet" href="/css/pages/jquery.toast.css" />
		<link rel='stylesheet' href="/css/dataTables.bootstrap4.css">


		<script type="text/javascript" src="/summernote/summernote-lite.min.js"></script>
		<link rel="stylesheet" href="/summernote/summernote-lite.min.css" />

		<link rel="icon" href="/img/icon-web.png" sizes="64x64" type="image/x-icon">
		<!-- <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script> -->
		<!-- <script type="text/javascript" src="/richtexteditor/rte.js"></script>
		<script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>  
		  <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" /> -->

		<title>Admin page</title>
	</head>

	<body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">
		<!-- BEGIN: Header-->
		<nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
			<div class="navbar-wrapper">
				<div class="navbar-header">
					<ul class="nav navbar-nav flex-row" style="padding: 10px;">
						<div id="logo">
							<h1><a href="/"><img src="/img/icon-web.png" style="max-width: 33%; padding: 0;"></a></h1>
						</div>
					</ul>
				</div>
				<div class="navbar-container content">
					<div class="collapse navbar-collapse" id="navbar-mobile">
						<ul class="nav navbar-nav mr-auto float-left">
							<a th:href="@{/products/create-product}">
								<button class="custom-btn btn-13" th:if="${session.staff==null}">
									<h7>+ product</h7>
								</button>
							</a>
							<h4 style="margin: auto;margin-left: 600px; padding-top: 10px;">List Products</h4>
						</ul>
						<ul th:fragment="login-space" class="nav navbar-nav float-right"
							style="width: 85px; overflow: hidden;">
							<li>
								<button th:if="${session.admin!=null}" id="toggleButton" onclick="toggleButtons()"
									class="option"><span th:text="${session.admin.getUsername()}"></span></button>

								<button th:if="${session.staff!=null}" id="toggleButton" onclick="toggleButtons()"
									class="option"><span th:text="${session.staff.getUsername()}"></span></button>

								<div id="buttonContainer">
									<a href="#" onclick="showProfile()" th:if="${session.admin==null}" class="option"
										style="margin-right: 10px;">Edit Profile</a>
									<a th:href="@{/logout}" class="option">Logout</a>
								</div>

								<div th:fragment="profile" class="profile position-fixed">
									<h2>Staff profile</h2>
									<button onclick="closeProfile()" type="button" class="close close-mask"
										aria-label="Close">
										<span aria-hidden="true" style="font-size: 25px;">&times;</span>
									</button>
									<div class="staff" th:if="${session.staff!=null}">
										<div class="container">
											<div class="row" style="margin-bottom: 10px;" id="profileForm">
												<form action="/staffs/update-staff" method="POST" th:object="${staff}">
													<input type="hidden" name="id" th:field="*{id}">
													<input type="hidden" name="mode" value="staff">
													<input id="usernameInput" th:field="*{username}" type="text"
														class="form-control" hidden>
													<span id="usernameError" style="color: red;"></span>
													<div class="form-group">
														<p>Full-name: </p>
														<input type="text" class="form-control" th:field="*{fullname}">
													</div>
													<div class="form-group">
														<p>Numberphone: </p>
														<input type="text" class="form-control"
															th:field="*{numberphone}" required>
													</div>
													<div class="form-group">
														<p>Email: </p>
														<input id="originalEmail" name="originalEmail"
															th:value="${staff.getEmail()}" hidden>
														<input id="emailInput" th:field="*{email}" type="email"
															class="form-control" onfocusout="checkExistEmail()">
														<span id="emailError"
															style="color: red;padding-left: 18px;"></span>
													</div>
													<div class="form-group">
														<p>Dob: </p>
														<input type="date" class="form-control" th:field="*{dob}">
													</div>
													<div class="form-group">
														<p>Id card: </p>
														<input type="text" class="form-control" th:field="*{idcard}"
															readonly>
													</div>

													<button type="submit" id="submitRegister" class="btn btn-info">
														<i class="fa fa-check"></i>
														Save
													</button>
												</form>
												<a href="#">
													<button class="btn btn-info" onclick="showChangePass()">
														<i class="fa fa-check"></i>
														Change password
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div th:fragment="changePass" class="changePass position-fixed"
									th:if="${session.staff!=null}">
									<h2>Change password</h2>
									<button onclick="closeChangePass()" type="button" class="close close-mask"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div class="container">
										<div class="row ">
											<div class="col-lg-12">
												<form action="/staffs/do-change-pass" method="POST">
													<input type="hidden" th:value="${session.staff.getId()}" name="id">
													<div class="form-group">
														<p> Enter old password: </p>
														<input type="password" id="oldPassword" name="oldPassword"
															class="form-control">
													</div>
													<div class="form-group">
														<p> Enter new password: </p>
														<input type="password" id="newPassword" name="newPassword"
															class="form-control">
													</div>
													<button type="submit" class="btn btn-info">
														<i class="fa fa-check"></i>
														Save
													</button>
													<br />
													<a href="#" class="btn btn-danger" onclick="closeChangePass()">
														<i class="fa fa-check"></i>
														Cancel
													</a>
												</form>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<!-- END: Header-->

		<!-- BEGIN: Main Menu-->
		<div th:fragment="main-menu" id="main-menu" class="main-menu menu-fixed menu-dark menu-shadow"
			data-scroll-to-active="true">
			<div class="main-menu-content">
				<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
					<li class=" navigation-header"><span>General</span><i class=" feather icon-minus"
							data-toggle="tooltip" data-placement="right" data-original-title="General"></i>
					</li>
					<li class="nav-item has-sub open">
						<ul class="menu-content">
							<li>
								<a class="menu-item" th:href="@{/dashBoard}" th:if="${session.staff==null}">Logfiles</a>
							</li>
							<li>
								<a class="menu-item" th:href="@{/products}">Products</a>
							</li>
							<li><a class="menu-item" th:href="@{/users}">Users</a>
							</li>
							<li><a class="menu-item" th:href="@{/staffs}" th:if="${session.staff==null}">Staffs</a>
							</li>
							<li><a class="menu-item" th:href="@{/categories}">Categories</a>
							</li>
							<li><a class="menu-item" th:href="@{/manufacturers}">Manufactures</a>
							</li>
							<li><a class="menu-item" th:href="@{/orders}">Orders</a>
							</li>
							<li><a class="menu-item" th:href="@{/contacts}">Contacts</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- END: Main Menu-->

		<!-- BEGIN: Content-->
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-body">
					<table id="dataTable" class="table table-bordered table-hover dataTable dtr-inline">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Image
								</th>
								<th>
									Name
								</th>
								<th>
									Price (VND)
								</th>
								<th>
									Quantity
								</th>
								<th>
									Categories
								</th>
								<th>
									Manufacturers
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product : ${products}">
								<td class="text-dashboard" th:text="${product.id}"></td>
								<td><img th:src="${product.images}" alt="Product Image" style="width: 120px;"></td>
								<td class="text-dashboard" th:text="${product.name}"></td>
								<td class="text-dashboard formatPrice" th:text="${product.getPrice()}"></td>
								<td class="text-dashboard" th:text="${product.quantity}">
								</td>
								<td class="text-dashboard" th:text="${product.category.name}"></td>
								<td class="text-dashboard" th:text="${product.manufacturer.name}"></td>
								<td>
									<a th:href="@{/products/change-newest/{id}(id=${product.id})}"
										th:if="${product.status == 1}">
										<button id="starButton" class="star-button" th:if="${product.isNewest == 0}">
											<i class="fas fa-star"></i>
										</button>
										<button id="starButton" class="star-button selected fas"
											th:if="${product.isNewest == 1}">
											<i class="fas fa-star"></i>
										</button>
									</a>
									<br />
									<a th:href="@{/products/change-status/{id}(id=${product.id})}">
										<button class="custom-btn btn-5" th:if="${product.status == 1}">Disable</button>
										<button class="custom-btn btn-6" th:if="${product.status == 0}">Enable</button>
									</a>
									<br />
									<a th:href="@{/products/edit/{id}(id=${product.id})}"
										th:if="${product.status == 1}">
										<button class="custom-btn btn-14" th:if="${session.staff==null}">Edit</button>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<footer class="footer"
			style="padding: 6px 20px 35px 20px;position: fixed;top: 888px;background-color: black;color: white;z-index: 999; width: 1900px;">
			<p class=" clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
				<span class="float-md-left d-block d-md-inline-block" style="padding-right: 10px; ">
					Copyright © 2024
				</span>
				<span class="float-md-right d-none d-lg-block">
					Made by NaN
				</span>
			</p>
			<div class="closeMask"></div>
		</footer>
	</body>

	<script th:inline="javascript">
		new DataTable( '#dataTable', {
			"order": [ [ 0, "dec" ] ],
			"columnDefs": [
				{ "orderable": false, "targets": [ 1, 7 ] }
			]
		} );

		alert_action(/*[[${ alert }]]*/ )
	</script>

</html>