<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

		<link rel="shortcut icon" href="logo.png" type="image/png">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
			rel="stylesheet">

		<script src='/js/jquery.min.js'></script>
		<script src='/js/bootstrap.min.js'></script>
		<script src="/js/pages/toastr.js"></script>
		<script src="/js/pages/jquery.toast.js"></script>
		<script src='/js/product.js'></script>

		<link rel='stylesheet' href='/css/font-awesome.min.css'>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-extended.min.css">
		<link rel="stylesheet" href="/css/components.min.css">
		<link rel="stylesheet" href="/css/pages/vertical-menu-modern.css">
		<link rel="stylesheet" href="/css/drop.css">
		<link rel="stylesheet" href="/css/products.css" />
		<link rel="stylesheet" href="/css/pages/jquery.toast.css" />

		<title>Admin page</title>

	</head>

	<body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">

		<!-- BEGIN: Header-->
		<nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
			<div class="navbar-wrapper">
				<div class="navbar-header">
					<ul class="nav navbar-nav flex-row" style="padding: 10px;">
						<div id="logo">
							<h1><a href="/">NAP</a></h1>
						</div>
					</ul>
				</div>
				<div class="navbar-container content">
					<div class="collapse navbar-collapse" id="navbar-mobile">
						<ul class="nav navbar-nav mr-auto float-left">

							<a th:href="@{/products/create-product}">
								<button class="custom-btn btn-13" th:if="${session.staff==null}">
									<h7>+ product</h7>
								</button>
							</a>

						</ul>
						<ul th:fragment="login-space" class="nav navbar-nav float-right" style="width: 80px;">
							<li class="dropdown dropdown-user nav-item"><a
									class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
									<!-- <div class="avatar avatar-online">
										<img src="/img/admin.jpg" alt="avatar"><i></i>
									</div> -->
									<span class="user-name" style="width: auto;">
										<p th:if="${session.staff!=null}" th:text="${session.staff.getUsername()}"></p>
										<p th:if="${session.admin!=null}" th:text="${session.admin.getUsername()}"></p>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu" style="margin-left: -55px;">
									<a class="dropdown-item" href="#" onclick="showProfile()"
										th:if="${session.admin==null}">
										<i class="feather icon-user"></i> Edit Profile</a>
									<a class="dropdown-item" th:href="@{/logout}">
										<i class="feather icon-power"></i> Logout</a>
								</div>
								<div th:fragment="profile" class="profile position-fixed">
									<h2>User profile</h2>
									<button onclick="closeProfile()" type="button" class="close close-mask"
										aria-label="Close">
										<span aria-hidden="true" style="font-size: 25px;">&times;</span>
									</button>
									<div class="staff" th:if="${session.staff!=null}">
										<div class="container">
											<div class="row" style="margin-bottom: 10px;" id="profileForm">
												<form action="/staffs/update-staff" method="POST" th:object="${staff}">
													<input type="hidden" name="id" th:field="*{id}">
													<input type="hidden" name="mode" value="staff">
													<div class="form-group">
														<p>Full-name: </p>
														<input type="text" class="form-control" th:field="*{fullname}">
													</div>
													<div class="form-group">
														<p>Numberphone: </p>
														<input type="text" class="form-control"
															th:field="*{numberphone}">
													</div>
													<div class="form-group">
														<p>Email: </p>
														<input type="email" class="form-control" th:field="*{email}">
													</div>
													<div class="form-group">
														<p>Dob: </p>
														<input type="date" class="form-control" th:field="*{dob}">
													</div>
													<div class="form-group">
														<p>Id card: </p>
														<input type="text" class="form-control" th:field="*{idcard}">
													</div>

													<button type="submit" class="btn btn-info">
														<i class="fa fa-check"></i>
														Save
													</button>
												</form>
												<a href="#">
													<button class="btn btn-info" onclick="showChangePass()">
														<i class="fa fa-check"></i>
														Change password
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div th:fragment="changePass" class="changePass position-fixed"
									th:if="${session.staff!=null}">
									<h2>Change password</h2>
									<button onclick="closeChangePass()" type="button" class="close close-mask"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<div class="container">
										<div class="row ">
											<div class="col-lg-12">
												<form action="/staffs/do-change-pass" method="POST">
													<input type="hidden" th:value="${session.staff.getId()}" name="id">
													<div class="form-group">
														<p> Enter old password: </p>
														<input type="password" name="oldPassword" class="form-control">
													</div>
													<div class="form-group">
														<p> Enter new password: </p>
														<input type="password" name="newPassword" class="form-control">
													</div>
													<button type="submit" class="btn btn-info">
														<i class="fa fa-check"></i>
														Save
													</button>
													<br>
													<a href="#" onclick="closeChangePass()">Cancel</a>
												</form>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<!-- END: Header-->


		<!-- BEGIN: Main Menu-->
		<div th:fragment="main-menu" id="main-menu" class="main-menu menu-fixed menu-dark menu-shadow"
			data-scroll-to-active="true">
			<div class="main-menu-content">
				<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
					<li class=" navigation-header"><span>General</span><i class=" feather icon-minus"
							data-toggle="tooltip" data-placement="right" data-original-title="General"></i>
					</li>
					<li class="nav-item has-sub open">
						<ul class="menu-content">
							<li>
								<a class="menu-item" th:href="@{/products}">Products</a>
							</li>
							<li><a class="menu-item" th:href="@{/users}">Users</a>
							</li>
							<li><a class="menu-item" th:href="@{/staffs}" th:if="${session.staff==null}">Staffs</a>
							</li>
							<li><a class="menu-item" th:href="@{/categories}">Categories</a>
							</li>
							<li><a class="menu-item" th:href="@{/manufacturers}">Manufactures</a>
							</li>
							<li><a class="menu-item" th:href="@{/orders}">Orders</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- END: Main Menu-->

		<!-- BEGIN: Content-->
		<div class="app-content content">
			<div class="content-wrapper">
				<div class=" content-header row">
					<h4>List Products</h4>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-1">
						<h5>Image</h5>
					</div>
					<div class="col-lg-2">
						<h5>Name of product</h5>
					</div>
					<div class="col-lg-1">
						<h5>Price (VND)</h5>
					</div>
					<div class="col-lg-1">
						<h5>Quantity</h5>
					</div>
					<div class="col-lg-1">
						<h5>Categories</h5>
					</div>
					<div class="col-lg-1">
						<h5>Manufactures</h5>
					</div>
					<div class="col-lg-3">
						<h5>Description</h5>
					</div>
					<div class="col-lg-2">
						<h5>Action</h5>
					</div>
				</div>
				<br>

				<div class="content-body" th:each=" product: ${products}">
					<div class="row grouped-multiple-statistics-card">
						<div class="col-lg-1">
							<img th:src="${product.images}" style="width: 120px;">
						</div>
						<div class="col-lg-2">
							<p th:text="${product.name}"></p>
						</div>
						<div class="col-lg-1">
							<p th:text="${product.price}" class="formatPrice"></p>
						</div>
						<div class="col-lg-1">
							<p th:text="${product.quantity}"></p>
						</div>
						<div class="col-lg-1">
							<p th:text="${product.category.name}" </p>
						</div>
						<div class="col-lg-1">
							<p th:text="${product.manufacturer.name}"></p>
						</div>
						<div class="col-lg-3">
							<p th:text="${product.description}"></p>
						</div>
						<p></p>
						<div class="col-lg-2">
							<a th:href="@{/products/edit/{id}(id=${product.id})}" th:if="${product.status == 0}"
								style="text-decoration: none;">
								<button class="custom-btn btn-14" style="width: 100px;" th:if="${session.staff==null}">
									<h7>Edit</h7>
								</button>
							</a>
							<a th:href="@{/products/change-status/{id}(id=${product.id})}">
								<button class="custom-btn btn-5" style="width: 100px;" th:if="${product.status == 0}">
									<h7>Disable</h7>
								</button>
								<button class="custom-btn btn-6" style="width: 100px;" th:if="${product.status == 1}">
									<h7>Enable</h7>
								</button>
							</a>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>

		<footer class="footer"
			style="padding: 15px 20px 35px 20px;position: fixed;top: 869px;background-color: black;color: white;z-index: 999; width: 1900px;">
			<p class=" clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
				<span class="float-md-left d-block d-md-inline-block" style="padding-right: 10px; ">
					Copyright © 2023
				</span>
				<span class="float-md-right d-none d-lg-block">
					Made by NaN
				</span>
			</p>
			<div class="closeMask"></div>
		</footer>
	</body>
	<script th:inline="javascript" src="js/script/product.js"></script>


</html>