<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{products/products :: head}"></head>

    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">

        <nav th:fragment="header-navbar"
            class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row" style="padding: 10px;">
                        <div id="logo">
                            <h1><a href="/">NAP</a></h1>
                        </div>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <a th:href="@{/categories/create-category}">
                                <button class="custom-btn btn-13" th:if="${session.staff==null}">
                                    <h7>+ category</h7>
                                </button>
                            </a>
                            <h4 style="margin: auto;margin-left: 600px">List Categories</h4>
                        </ul>
                        <ul th:replace="~{products/products.html :: login-space}"></ul>
                    </div>
                    <div th:replace="~{products/products.html :: profile}"></div>
                    <div th:replace="~{products/products.html :: changePass}"></div>
                </div>
            </div>
        </nav>

        <div th:replace="~{products/products.html :: main-menu}"></div>

        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-body">
                    <table id="dataTable" class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                            <tr>
                                <th>
                                    <span>#</span>
                                    <span class="arrow" onclick="sortTable(0)"></span>
                                    <i class="fa fa-search search-icon" aria-hidden="true"
                                        onclick="toggleSearchInput(0)"></i>
                                    <input type="text" id="searchInput_0" class="search-input" placeholder="Search by #"
                                        onkeyup="searchTable(0)">
                                </th>
                                <th>
                                    <span>Name of Category</span>
                                    <span class="arrow" onclick="sortTable(1)"></span>
                                    <i class="fa fa-search search-icon" aria-hidden="true"
                                        onclick="toggleSearchInput(1)"></i>
                                    <input type="text" id="searchInput_1" class="search-input"
                                        placeholder="Search by name" onkeyup="searchTable(1)">
                                </th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody th:each="category, iterStat : ${categories}" th:if="${iterStat.index < 10}">
                            <tr>
                                <td th:text="${category.id}"></td>
                                <td th:text="${category.name}"></td>
                                <td th:text="${category.description}"></td>
                                <td>
                                    <a th:href="@{/categories/change-status/{id}(id=${category.id})}">
                                        <button class="custom-btn btn-5"
                                            th:if="${category.status == 1}">Disable</button>
                                        <button class="custom-btn btn-6" th:if="${category.status == 0}">Enable</button>
                                    </a>
                                    <a th:href="@{/categories/edit/{id}(id=${category.id})}"
                                        th:if="${category.status == 1}" style="text-decoration: none;">
                                        <button class="custom-btn btn-14" th:if="${session.staff==null}">
                                            <h7>Edit</h7>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-6 col-md-5">
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                                <p>Showing
                                    1 to 10 of [(${categories.getTotalElements()})] total</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers"
                                th:each=" item: ${categories.getTotalPages()}">
                                <ul class="pagination">
                                    <li
                                        th:class="'paginate_button page-item previous ' + (${categories.number == 0 ? 'disabled' : ''})">
                                        <a class="page-link"
                                            th:href="@{'/categories?page=' + ${categories.number - 1}}">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active" th:each="page : ${#numbers.sequence(0, categories.totalPages - 1)}">
                                        <a th:href="@{'/categories?page=' + ${page}}" th:class="'page-link ' + (${categories.number == page ? 'current-page' : ''})" th:text="${page + 1}"></a>
                                    </li>
                                    <li th:class="'paginate_button page-item next ' + (${categories.number == categories.totalPages - 1 ? 'disabled' : ''})">
                                        <a class="page-link" th:href="@{'/categories?page=' + ${categories.number + 1}}">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <footer th:replace="~{products/products :: footer}"></footer>
    </body>
    <script src="/js/searchSort.js"></script>
    <script th:inline="javascript">
        function showChangePass ()
        {
            $( '.changePass' ).addClass( 'w-25' );
            $( '.profile' ).removeClass( "w-25" );
        }
        function closeChangePass ()
        {
            $( '.changePass' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();

        }
        function showProfile ()
        {
            $( '.profile' ).addClass( "w-25" );
            $( '.changePass' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeIn();
        }
        function closeProfile ()
        {
            $( '.profile' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();
        }
        $( '.closeMask' ).click( ( e ) =>
        {
            if ( e.target.classList.contains( 'closeMask' ) )
                $( 'button.close.close-mask' ).click();
        } );
        alert_action(/*[[${alert}]]*/ )
    </script>




</html>