<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{products/products :: head}"></head>

    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">

        <nav th:fragment="header-navbar"
            class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row" style="padding: 10px;">
                        <div id="logo">
                            <h1><a href="/"><img src="/img/icon-web.png" style="max-width: 33%; padding: 0;"></a></h1>
                        </div>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <a th:href="@{/categories/create-category}">
                                <button class="custom-btn btn-13" th:if="${session.staff==null}">
                                    <h7>+ category</h7>
                                </button>
                            </a>
                            <h4 style="margin: auto;margin-left: 600px;padding-top: 10px;">List Categories</h4>
                        </ul>
                        <ul th:fragment="login-space" class="nav navbar-nav float-right"
                            style="width: 85px; overflow: hidden;">
                            <li>
                                <button th:if="${session.admin!=null}" id="toggleButton" onclick="toggleButtons()"
                                    class="option"><span th:text="${session.admin.getUsername()}"></span></button>

                                <button th:if="${session.staff!=null}" id="toggleButton" onclick="toggleButtons()"
                                    class="option"><span th:text="${session.staff.getUsername()}"></span></button>

                                <div id="buttonContainer">
                                    <a href="#" onclick="showProfile()" th:if="${session.admin==null}" class="option"
                                        style="margin-right: 10px;">Edit Profile</a>
                                    <a href="#" onclick="showChangePassAdmin()" th:if="${session.admin!=null}"
                                        class="option" style="margin-right: 10px;">Change password admin</a>
                                    <a th:href="@{/logout}" class="option">Logout</a>
                                </div>

                                <div th:replace="~{products/products.html :: profile}"></div>
                                <div th:replace="~{products/products.html :: changePass}"></div>
                                <div th:replace="~{products/products.html :: changePassAdmin}"></div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>

        <div th:replace="~{products/products.html :: main-menu}"></div>

        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-body">
                    <table id="dataTable" class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Name of Category
                                </th>
                                <!-- <th>Description</th> -->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="category : ${categories}">
                                <td class="text-dashboard" th:text="${category.id}"></td>
                                <td class="text-dashboard" th:text="${category.name}"></td>
                                <!-- <td>[(${category.description})]</td> -->
                                <td>
                                    <a th:href="@{/categories/change-status/{id}(id=${category.id})}">
                                        <button class="custom-btn btn-5"
                                            th:if="${category.status == 1}">Disable</button>
                                        <button class="custom-btn btn-6" th:if="${category.status == 0}">Enable</button>
                                    </a>
                                    <a th:href="@{/categories/edit/{id}(id=${category.id})}"
                                        th:if="${category.status == 1}" style="text-decoration: none;">
                                        <button class="custom-btn btn-14" th:if="${session.staff==null}">
                                            <h7>Edit</h7>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer th:replace="~{products/products :: footer}"></footer>
    </body>
    <script th:inline="javascript">
        new DataTable( '#dataTable', {
            "order": [ [ 0, "dec" ] ],
            "columnDefs": [
                { "orderable": false, "targets": [ 2 ] } // Non-sortable columns 7 and 8 (indices 6 and 7)
            ]
        } );
        alert_action(/*[[${alert}]]*/ )
    </script>

</html>