<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{products/create_product.html :: head}"></head>
    <link rel="stylesheet" href="/css/edit_category.css">

    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">
        <nav th:replace="~{products/create_product.html :: header-navbar}"></nav>
        <div th:replace="~{products/products.html :: main-menu}"></div>

        <div class="container mt-4">
            <h2 class="page-title">Edit Category</h2>
            <form th:action="@{/categories/update-category/{id}(id=${category.id})}" th:object="${category}"
                method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-6 ol-md-6 col-xs-12">
                        <div class="white-box">
                            <div class="form-group" style="margin-left: -15px; margin-top: 10px;">
                                <label for="name" class="col-md-12">
                                    <h5>Category Name</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="name" th:field="*{name}" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="white-box">
                            <h5>Description</h5>

                            <textarea id="div_editor1" th:field="*{description}">
                            </textarea>
                            <div class="form-actions" style="height: 100px;">
                                <button type="submit" class="btn btn-info"> <i class="fa fa-check"></i>
                                    Edit</button>
                                <button type="button" onclick="location.href='/categories'"
                                    class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <footer th:replace="~{products/products.html :: footer}"></footer>
    </body>

    <script th:inline="javascript">
        var editor1 = new RichTextEditor( "#div_editor1" );
        $( '.dropify-wrapper' ).height( $( 'form > div > div:nth-child(2)' ).height() - 60 + 'px' )
        $( "#input-file-now" ).change( function ( event )
        {
            $( ".dropify-render" ).html( `<img src="` + window.URL.createObjectURL( this.files[ 0 ] ) + `">` )
            $( ".dropify-preview" ).css( "display", "block" );
        } )
    </script>

</html>