<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{products/products :: head}"></head>

    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">

        <nav th:fragment="header-navbar"
            class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item mr-auto"><a class="navbar-brand" href=" "><img class="brand-logo"
                                    alt="stack admin logo" src=" ">
                            </a></li>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <a th:href="@{manufacturers/createManufacturer}">
                                <button class="custom-btn btn-13" style="width: 165px;">
                                    <h7>+ manufacturer</h7>
                                </button>
                            </a>
                        </ul>
                        <ul class="nav navbar-nav float-right">
                            <li class="dropdown dropdown-user nav-item"><a
                                    class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <!-- <img src="../../../app-assets/images/portrait/small/avatar-s-1.png"
                            alt="avatar"><i></i> -->
                                    </div>
                                    <span class="user-name" style="width: 65px;">Nhan</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="user-profile.html">
                                        <i class="feather icon-user"></i> Edit Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="login-with-bg-image.html">
                                        <i class="feather icon-power"></i> Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div th:replace="products/products.html :: main-menu"></div>

        <div class="app-content content">
            <div class="content-wrapper">
                <div class=" content-header row">
                    <h4>List manufacturers</h4>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-2">
                        <h5>Image</h5>
                    </div>
                    <div class="col-lg-3">
                        <h5>Name of Manufacturer</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5>Description</h5>
                    </div>
                    <div class="col-lg-3">
                        <h5>Action</h5>
                    </div>
                </div>
                <br>

                <div class="content-body" th:each=" manufacturer: ${manufacturers}">
                    <div class="row grouped-multiple-statistics-card">
                        <div class="col-lg-2">
                            <img th:src="${manufacturer.manufacturerImages}" style="width: 120px;">
                        </div>
                        <div class="col-lg-3">
                            <p th:text="${manufacturer.manufacturerName}"></p>
                        </div>
                        <div class="col-lg-4">
                            <p th:text="${manufacturer.manufacturerDescription}"></p>
                        </div>
                        <p></p>
                        <div class="col-lg-3">
                            <a th:href="@{/manufacturers/edit/{id}(id=${manufacturer.manufacturerId})}"
                                th:if="${manufacturer.manufacturerStatus == 0}" style="text-decoration: none;">
                                <button class="custom-btn btn-14" style="width: 100px;">
                                    <h7>Edit</h7>
                                </button>
                            </a>
                            <a th:href="@{/manufacturers/changeStatus/{id}(id=${manufacturer.manufacturerId})}">
                                <button class="custom-btn btn-5" style="width: 100px;"
                                    th:if="${manufacturer.manufacturerStatus == 0}">
                                    <h7>Off</h7>
                                </button>
                                <button class="custom-btn btn-6" style="width: 100px;"
                                    th:if="${manufacturer.manufacturerStatus == 1}">
                                    <h7>On</h7>
                                </button>
                            </a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <footer th:replace="~{products/products :: footer}"></footer>
    </body>

</html>