<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{products/products :: head}"></head>

    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">

        <nav th:fragment="header-navbar"
            class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row" style="padding: 10px;">
                        <div id="logo">
                            <h1><a href="/">NAP</a></h1>
                        </div>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <a th:href="@{/manufacturers/create-manufacturer}">
                                <button class="custom-btn btn-13" style="width: 165px;" th:if="${session.staff==null}">
                                    <h7>+ manufacturer</h7>
                                </button>
                            </a>
                            <h4 style="margin: auto;margin-left: 600px">List Manufacturers</h4>
                        </ul>
                        <ul th:replace="~{products/products.html :: login-space}"></ul>
                    </div>
                    <div th:replace="~{products/products.html :: profile}"></div>
                    <div th:replace="~{products/products.html :: changePass}"></div>
                </div>
            </div>
        </nav>

        <div th:replace="~{products/products.html :: main-menu}"></div>

        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-body">
                    <table id="productTable" class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)">
                                    <span>#</span>
                                    <span class="arrow"></span>
                                </th>
                                <th>Image</th>
                                <th onclick="sortTable(1)">
                                    <span>Name of Manufacturer</span>
                                    <span class="arrow"></span>
                                </th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody th:each="manufacturer, iterStat : ${manufacturers}" th:if="${iterStat.index < 10}">
                            <tr>
                                <td th:text="${manufacturer.id}"></td>
                                <td><img th:src="${manufacturer.images}" alt="manufacturer Image" style="width: 120px;">
                                </td>
                                <td th:text="${manufacturer.name}"></td>
                                <td th:text="${manufacturer.description}"></td>
                                <td>
                                    <a th:href="@{/manufacturers/change-status/{id}(id=${manufacturer.id})}">
                                        <button class="custom-btn btn-5"
                                            th:if="${manufacturer.status == 1}">Disable</button>
                                        <button class="custom-btn btn-6"
                                            th:if="${manufacturer.status == 0}">Enable</button>
                                    </a>

                                    <a th:href="@{/manufacturers/edit/{id}(id=${manufacturer.id})}"
                                        th:if="${manufacturer.status == 1}" style="text-decoration: none;">
                                        <button class="custom-btn btn-14" th:if="${session.staff==null}">
                                            <h7>Edit</h7>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-6 col-md-5">
                            <div class="dataTables_info" id="productTable_info" role="status" aria-live="polite">
                                <p>Showing
                                    1 to 10 of [(${manufacturers.getTotalElements()})] total</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers"
                                th:each=" item: ${manufacturers.getTotalPages()}">
                                <ul class="pagination">
                                    <li
                                        th:class="'paginate_button page-item previous ' + (${manufacturers.number == 0 ? 'disabled' : ''})">
                                        <a class="page-link"
                                            th:href="@{'/manufacturers?page=' + ${manufacturers.number - 1}}">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active" th:each="page : ${#numbers.sequence(0, manufacturers.totalPages - 1)}">
                                        <a th:href="@{'/manufacturers?page=' + ${page}}" th:class="'page-link ' + (${manufacturers.number == page ? 'current-page' : ''})" th:text="${page + 1}"></a>
                                    </li>
                                    <li th:class="'paginate_button page-item next ' + (${manufacturers.number == manufacturers.totalPages - 1 ? 'disabled' : ''})">
                                        <a class="page-link" th:href="@{'/manufacturers?page=' + ${manufacturers.number + 1}}">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{products/products :: footer}"></footer>
    </body>
    <script th:inline="javascript">
        function showChangePass ()
        {
            $( '.changePass' ).addClass( 'w-25' );
            $( '.profile' ).removeClass( "w-25" );
        }
        function closeChangePass ()
        {
            $( '.changePass' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();

        }
        function showProfile ()
        {
            $( '.profile' ).addClass( "w-25" );
            $( '.changePass' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeIn();
        }
        function closeProfile ()
        {
            $( '.profile' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();
        }
        $( '.closeMask' ).click( ( e ) =>
        {
            if ( e.target.classList.contains( 'closeMask' ) )
                $( 'button.close.close-mask' ).click();
        } );
        alert_action(/*[[${alert}]]*/ )
    </script>

</html>