<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{products/create_product.html :: head}"></head>

	<body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">
		<nav th:replace="~{products/create_product.html :: header-navbar}"></nav>
		<div th:replace="~{products/products.html :: main-menu}"></div>


		<div class="container mt-3">
			<h4>Edit user id = <span th:text="${user.Id}"></span>
			</h4>
			<br>
			<form th:action="@{/users/update-user}" th:object="${user}" method="POST">
				<input type="hidden" name="id" th:field="*{id}">
				<input name="mode" value="adminEdit" hidden>
				<div class="row">
					<div class="col-sm-6 ol-md-6 col-xs-12">
						<div class="white-box">
							<div class="form-group">
								<label for="full-name" class="col-md-12">
									<h5>User full-name</h5>
								</label>
								<div class="col-md-12">
									<input id="full-name" th:field="*{fullname}" type="text" class="form-control"
										required>
								</div>
							</div>
							<div class="form-group">
								<label for="usernameInput" class="col-md-12">
									<h5>User-name</h5>
								</label>
								<div class="col-md-12">
									<input id="usernameInput" th:field="*{username}" type="text" class="form-control"
										readonly>
									<span id="usernameError" style="color: red;"></span>

								</div>
							</div>

							<div class="form-group">
								<label for="numberPhone" class="col-md-12">
									<h5>Phone-number</h5>
								</label>
								<div class="col-md-12">
									<input id="numberPhone" th:field="*{numberphone}" type="text"
										onkeydown="return onlyNumbers(event)" class="form-control" required>
								</div>
							</div>
							<div class="form-group">
								<label for="address" class="col-md-12">
									<h5>Address</h5>
								</label>
								<div class="col-md-12">
									<input id="address" th:field="*{address}" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-md-12">
									<h5>Email</h5>
								</label>
								<div class="col-md-12">
									<input id="originalEmail" name="originalEmail" th:value="${user.getEmail()}" hidden>
									<input id="emailInput" th:field="*{email}" type="email" name="email"
										class="form-control" onfocusout="checkExistEmail()" required>
									<span id="emailError" style="color: red;"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="dob" class="col-md-12">
									<h5>Date of birth</h5>
								</label>
								<div class="col-md-12" style="margin-bottom: 40px;">
									<input id="dob" th:field="*{dob}" type="date" class="form-control" required>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="white-box">
							<div class="form-actions">
								<button type="submit" id="submitRegister" class="btn btn-info"> <i
										class="fa fa-check"></i>
									Save</button>
								<button type="button" onclick="location.href='/users'"
									class="btn btn-default">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<footer th:replace="~{products/products.html :: footer}"></footer>
	</body>
	<script>
		function showPass ()
		{
			var p = document.getElementById( 'password' );
			if ( p.type === "password" )
			{
				p.type = "text";
			} else
			{
				p.type = "password";

			}
		}
		function onlyNumbers ( event )
		{
			if ( event.ctrlKey || event.altKey || event.metaKey || event.key === "Backspace" || event.key === "Delete" || event.key === "ArrowLeft" || event.key === "ArrowRight" )
			{
				return true;
			}
			if ( /^\d|-$/i.test( event.key ) )
			{
				return true;
			}
			event.preventDefault();
			return false;
		}</script>

</html>