<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{homePage :: head}"></head>
    <link rel="stylesheet" href="/css/order_history.css">
    <title>Order History</title>


    <body class="header_section">
        <div th:replace="~{homePage :: header_section}"></div>

        <div>
            <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Orders history</h2>
        </div>
        <div class="m-auto text-center" th:if="${orders.getTotalPages()==0}">
            <h2 style="margin-bottom: 151px">There are no orders now</h2>
        </div>

        <div class="orders" th:if="${orders.getTotalPages()!=0}">
            <div class="table-header">
                <div>#</div>
                <div>Date</div>
                <div>Name</div>
                <div>Address</div>
                <div>Numberphone</div>
                <div>Total</div>
                <div>Status</div>
                <div>Action</div>
                <div>Details</div>
            </div>

            <div class="order" th:each=" order: ${orders}">
                <div class="row" style="align-items: center;">
                    <div class="cell">[(${order.getId()})]</div>
                    <div class="cell">[(${order.getOrderDate()})]</div>
                    <div class="cell">[(${order.getReceiverName()})]</div>
                    <div class="cell">[(${order.getReceiverAddress()})]</div>
                    <div class="cell">[(${order.getReceiverNumberphone()})]</div>
                    <div class="cell">
                        <p class="formatPrice" style="padding-top: 10px">[(${order.getTotal()})]</p>
                    </div>
                    <div class="cell" th:text="${order.getShowStatus()}"></div>
                    <div class="cell">
                        <button class="custom-btn btn-6"
                            th:if="${order.getType().toString().equals('CREDIT')}">Paid</button>
                        <a th:href="@{'/orders/user-change-status/' + ${order.id} + '?status=3'}">
                            <button class="custom-btn btn-5"
                                th:if="${order.getStatus() != 3 && order.getType().toString().equals('COD')}">Cancel</button>
                        </a>
                    </div>
                    <div class="cell details">
                        <i id="orderDetail" class="fa fa-arrow-down" aria-hidden="true"
                            th:onclick="'loadOrderDetail(\'' + ${order.id} + '\',this)'" style="display: block;"></i>
                    </div>
                </div>

                <div>
                    <div class="orderDetail" th:classappend="${order.id}" style="display: none;">
                        <div class="table-header" style="justify-content: space-evenly;">
                            <div>Images</div>
                            <div>Product name</div>
                            <div>Quantity</div>
                            <div>Price</div>
                        </div>
                        <div class="container-fluid" style="text-align: center;">
                            <div class="row mb-3" th:each=" item: ${order.orderDetails}"
                                style="border-bottom: 1px solid #ddd;">
                                <div class="col-lg-3">
                                    <img th:src="${item.product.getImages()}" style="width: 120px;">
                                </div>
                                <div class="col-lg-4">
                                    <h7 th:text="${item.product.getName()}"></h7>
                                </div>
                                <div class="col-lg-1">
                                    <p th:text="${item.quantity}">1</p>
                                </div>
                                <div class="col-lg-4 formatPrice"><b>[(${item.finalPrice})]</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace=" ~{homePage.html :: footer_section}" style="position: absolute; top: 393px">
        </footer>

        <button id="topButton"><i class="fa fa-arrow-up"></i></button>
    </body>

    <script th:inline="javascript">


        function loadOrderDetail ( id )
        {
            $( '.orderDetail' ).each( ( i, e ) =>
            {

                if ( $( e ).is( ':visible' ) && !$( e ).hasClass( id ) )
                {
                    $( e ).slideUp( 500 );
                }
            } );

            var orderDetail = $( '.orderDetail.' + id );
            orderDetail.slideToggle( 500 );

        }

        function closeOrderDetail ( e )
        {
            $( e ).parent().slideDown( 500 );
        }
        alert_action(/*[[${alert}]]*/ )
    </script>

</html>