<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{homePage :: head}"></head>
    <link rel="stylesheet" href="/css/order_history.css">
    <link rel="styleSheet" href="/css/theme-custom.css">

    <title>Order History</title>


    <body class="header_section">
        <div th:replace="~{homePage :: header_section}"></div> <!-- shopping cart -->
        <!-- shopping cart -->
        <div class="cart position-fixed">
            <h2>Shopping Cart</h2>
            <button onclick="closecart()" type="button" class="close close-mask" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 th:if="${session.cart==null}" style="margin-left: 20px;">There are no items</h3>
            <!-- product -->
            <div class="product" th:if="${session.cart!=null}">
                <div class="container">
                    <input id="cartId" name="cartId" th:value="${session.cart.getId()}" hidden>
                    <div class="row" th:each=" item : ${session.cart.getListItem()}" style="margin-bottom: 10px;">
                        <div class="col-2">
                            <img th:src="${item.getProduct().getImages()}" style="width: 100%;">
                        </div>
                        <div class="col-4" style="max-width: 30%;">
                            <a class="productName" th:text="${item.getProduct().getName()}"
                                th:href="@{'/products/get-product-infor/' + ${item.getProduct().getId()}}"></a>
                        </div>

                        <div>
                            <input id="page" name="page" value="history" hidden>
                            <input id="productId" name="productId" th:value="${item.getProduct().getId()}" hidden>
                            <input id="productPrice" name="productPrice" th:value="${item.getProduct().getPrice()}"
                                hidden>
                            <button id="decreaseBtn" class="decreaseBtn">-</button>

                            <input name="productQuantity" id="productQuantity"
                                th:value="${item.getProduct().getQuantity()}" hidden>
                            <input type="text" id="quantity" name="quantity" th:value="${item.getQuantity()}"
                                style="width: 50px; height: 50px; padding: 0; text-align: center;" readonly>

                            <button id="increaseBtn" class="decreaseBtn">+</button>
                        </div>

                        <div class="col-2 formatPrice" style="padding-left: 30px; padding-top: 10px;" id="subtotal"
                            th:text="${item.getSubtotal()}">
                        </div>
                        <div class="col-2">
                            <!-- <button type="submit" class="close">x</button> -->
                            <a th:href="@{/users/delete-product-in-cart(productId=${item.getProduct().getId()}, mode='inOrderHistory')}"
                                class="close"><span>x</span></a>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </div>
            <hr th:if="${session.cart != null}">
            <div class="checkout-space" th:if="${session.cart != null}">
                <div class=" total-checkout">
                    <h4>Total: <span th:text="${session.cart.getTotal()}" class="formatPrice" id="total"></span>
                    </h4>
                </div>
                <br />
                <a th:href="@{/users/checkout-page}" th:if="${session.user != null}">
                    <button class="btn-checkout" id="checkoutBtn">Checkout
                    </button>
                </a>
                <a onclick="showLogin()" th:if="${session.user == null}">
                    <button class="btn-checkout">Login
                    </button>
                </a>
            </div>
        </div>
        <!-- end shopping cart -->
        <div class="closeMask"></div>

        <div>
            <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Orders history</h2>
        </div>
        <div class="breadcrumb-wrapper">
            <div class="breadcrumb-area breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <nav class role="navigation" aria-label="breadcrumbs">
                                    <ul class="breadcrumb-list" style="margin-top: 0px;">
                                        <li>
                                            <a href="/" title="Back to the home page">Home</a>
                                        </li>
                                        <li>
                                            <span>orders history</span>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS SETCTION END -->
        <div class="m-auto text-center" th:if="${orders.getTotalPages()==0}">
            <h2 style="margin-bottom: 151px">There are no orders now</h2>
        </div>

        <div class="orders" th:if="${orders.getTotalPages()!=0}">
            <div class="table-header">
                <div>#</div>
                <div>Date</div>
                <div>Name</div>
                <div>Address</div>
                <div>Numberphone</div>
                <div>Total</div>
                <div>Status</div>
                <div>Action</div>
                <div>Details</div>
            </div>

            <div class="order" th:each=" order: ${orders}">
                <div class="row" style="align-items: center;">
                    <div class="cell">[(${order.getId()})]</div>
                    <div class="cell">[(${order.getOrderDate()})]</div>
                    <div class="cell">[(${order.getReceiverName()})]</div>
                    <div style="white-space: nowrap; overflow: hidden;" class="cell">[(${order.getReceiverAddress()})]
                    </div>
                    <div class="cell">[(${order.getReceiverNumberphone()})]</div>
                    <div class="cell">
                        <p class="formatPrice" style="padding-top: 10px">[(${order.getTotal()})]</p>
                    </div>
                    <div class="cell" th:text="${order.getShowStatus()}"></div>
                    <div class="cell">
                        <button class="custom-btn btn-6"
                            th:if="${order.getType().toString().equals('CREDIT')}">Paid</button>
                        <a th:href="@{'/orders/user-change-status/' + ${order.id} + '?status=3'}">
                            <button class="custom-btn btn-5"
                                th:if="${order.getStatus() == 0 && order.getType().toString().equals('COD')}">Cancel</button>
                        </a>
                    </div>
                    <div class="cell details">
                        <i id="orderDetail" class="fa fa-arrow-down" aria-hidden="true"
                            th:onclick="'loadOrderDetail(\'' + ${order.id} + '\',this)'" style="display: block;"></i>
                    </div>
                </div>

                <div>
                    <div class="orderDetail" th:classappend="${order.id}" style="display: none;">
                        <div class="table-header" style="justify-content: space-evenly;">
                            <div>Images</div>
                            <div>Product name</div>
                            <div>Quantity</div>
                            <div>Price</div>
                        </div>
                        <div class="container-fluid" style="text-align: center;">
                            <div class="row mb-3" th:each=" item: ${order.orderDetails}"
                                style="border-bottom: 1px solid #ddd;">
                                <div class="col-lg-3">
                                    <img th:src="${item.product.getImages()}" style="width: 120px;">
                                </div>
                                <div class="col-lg-4">
                                    <h7>
                                        <a class="product-name" th:text="${item.product.getName()}"
                                            th:href="@{'/products/get-product-infor/' + ${item.product.getId()}}"></a>
                                    </h7>
                                </div>
                                <div class="col-lg-1">
                                    <p th:text="${item.quantity}">1</p>
                                </div>
                                <div class="col-lg-4 formatPrice"><b>[(${item.finalPrice})]</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace=" ~{homePage.html :: footer_section}" style="position: absolute; top: 393px">
        </footer>

        <button id="topButton"><i class="fa fa-arrow-up"></i></button>
    </body>

    <script th:inline="javascript">


        function loadOrderDetail ( id )
        {
            $( '.orderDetail' ).each( ( i, e ) =>
            {

                if ( $( e ).is( ':visible' ) && !$( e ).hasClass( id ) )
                {
                    $( e ).slideUp( 500 );
                }
            } );

            var orderDetail = $( '.orderDetail.' + id );
            orderDetail.slideToggle( 500 );

        }

        function closeOrderDetail ( e )
        {
            $( e ).parent().slideDown( 500 );
        }
        alert_action(/*[[${alert}]]*/ )
    </script>

</html>