<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{homePage :: head}"></head>
    <title>Recover password</title>

    <body>
        <div th:replace="homePage :: header_section"></div>
        <div>
            <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Recover password</h2>
        </div>

        <div class="container mt-4">
            <br>
            <form href="/reset-password" method="POST">
                <div class="row">
                    <div class="col-sm-6 ol-md-6 col-xs-12">
                        <div class="white-box">
                            <div class="form-group">
                                <label for="password" class="col-md-12">
                                    <h5> New Password</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="newPassword" type="password" class="form-control mb-1" required
                                        onchange="onChange()" name="password">

                                    <input type="checkbox" onclick="showPass()"> Show password
                                </div>
                                <br>
                                <label for="password" class="col-md-12">
                                    <h5> Comfirm Password</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="confirmPassword" type="password" class="form-control mb-1" required
                                        onchange="onChange()">

                                    <input type="checkbox" onclick="showPass()"> Show
                                    password
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="white-box">
                            <div class="form-actions">
                                <button type="submit" class="btn btn-info"> <i class="fa fa-check"></i>
                                    Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace=" ~{homePage.html :: footer_section}">
        </footer>
    </body>

    <script>
        function showPass ()
        {
            var p = document.getElementById( "password" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }

        function onChange ()
        {
            var password = document.querySelector( 'input[id=newPassword]' );
            var confirm = document.querySelector( 'input[id=confirmPassword]' );
            if ( confirm.value === password.value )
            {
                confirm.setCustomValidity( '' );
            } else
            {
                confirm.setCustomValidity( 'Passwords do not match' );
            }
        }
    </script>

</html>