<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{homePage :: head}"></head>
    <title>Recover password</title>
    <style>
        body {
            background-image: url(../img/banner-bg.png);
        }
    </style>

    <body>
        <div th:replace="~{homePage :: header_section}"></div>
        <div>
            <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Recover password</h2>
        </div>

        <div class="container">
            <form href="/reset-password" method="POST">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 col-md-6 col-xs-12" style="margin-top: 20px;">
                        <div class="white-box">
                            <div class="form-group">
                                <label for="password" class="col-md-12">
                                    <h5> New Password</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="newPassword" type="password" class="form-control mb-1" required
                                        onchange="onChange()" name="password" style="display: inline;">

                                    <input type="checkbox" onclick="showNewPass()"> Show password
                                </div>
                                <br>
                                <label for="password" class="col-md-12">
                                    <h5> Comfirm Password</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="confirmPassword" type="password" class="form-control mb-1" required
                                        onchange="onChange()" style="display: inline;">

                                    <input type="checkbox" onclick="showConfirmPass()"> Show
                                    password
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="white-box">
                            <div class="form-actions">
                                <button type="submit" class="btn btn-info"
                                    style="margin-bottom: 15px; margin-left: 15px;"> <i class="fa fa-check"></i>
                                    Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace=" ~{homePage.html :: footer_section}">
        </footer>
    </body>

    <script>
        function showNewPass ()
        {
            var p = document.getElementById( "newPassword" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function showConfirmPass ()
        {
            var p = document.getElementById( "confirmPassword" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }

        function onChange ()
        {
            var password = document.querySelector( 'input[id=newPassword]' );
            var confirm = document.querySelector( 'input[id=confirmPassword]' );
            if ( confirm.value === password.value )
            {
                confirm.setCustomValidity( '' );
            } else
            {
                confirm.setCustomValidity( 'Passwords do not match' );
            }
        }
    </script>

</html>