<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{products/products ::head}"></head>
	<script src="/js/pages/toastrUser.js"></script>


	<body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">
		<nav th:fragment="header-navbar"
			class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
			<div class="navbar-wrapper">
				<div class="navbar-header">
					<ul class="nav navbar-nav flex-row" style="padding: 10px;">
						<div id="logo">
							<h1><a href="/">NAP</a></h1>
						</div>
					</ul>
				</div>
				<div class="navbar-container content">
					<div class="collapse navbar-collapse" id="navbar-mobile">
						<ul class="nav navbar-nav mr-auto float-left">
							<a th:href="@{/users/create-user}">
								<button class="custom-btn btn-13" th:if="${session.staff==null}">
									<h7>+ user</h7>
								</button>
							</a>
						</ul>
						<ul th:replace="~{products/products.html :: login-space}"></ul>
					</div>
					<div th:replace="~{products/products.html :: profile}"></div>
					<div th:replace="~{products/products.html :: changePass}"></div>

				</div>
			</div>
		</nav>

		<div th:replace="~{products/products.html :: main-menu}"></div>


		<div class="app-content content">
			<div class="content-wrapper">
				<div class=" content-header row">
					<h4>List Users</h4>
				</div>
				<div class="content-body">
					<table id="productTable" class="table table-bordered table-hover dataTable dtr-inline">
						<thead>
							<tr>
								<th>#</th>
								<th>User Full-name</th>
								<th>Username</th>
								<th>Email</th>
								<th>Phone</th>
								<th>DoB</th>
								<th>Address</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody th:each="user, iterStat : ${users}" th:if="${iterStat.index < 10}">
							<tr>
								<td th:text="${user.id}"></td>
								<td th:text="${user.fullname}"></td>
								<td th:text="${user.username}"></td>
								<td th:text="${user.email}"></td>
								<td th:text="${user.numberphone}"></td>
								<td th:text="${user.dob}"></td>
								<td th:text="${user.Address}"></td>
								<td>
									<a th:href="@{/users/change-status/{id}(id=${user.id})}">
										<button class="custom-btn btn-5" th:if="${user.status == 0}">Disable</button>
										<button class="custom-btn btn-6" th:if="${user.status == 1}">Enable</button>
									</a>
									<br>
									<a th:href="@{/users/edit/{id}(id=${user.id})}" th:if="${user.status == 0}"
										style="text-decoration: none;">
										<button class="custom-btn btn-14 mb-2" th:if="${session.staff==null}">
											<h7>Edit</h7>
										</button>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-lg-6 col-md-5">
							<div class="dataTables_info" id="productTable_info" role="status" aria-live="polite">
								<p>Showing 1 to 10 entries</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-7">
							<div class="dataTables_paginate paging_simple_numbers"
								th:each=" item: ${users.getTotalPages()}">
								<ul class="pagination">
									<li
										th:class="'paginate_button page-item previous ' + (${users.number == 0 ? 'disabled' : ''})">
										<a class="page-link"
											th:href="@{'/users?page=' + ${users.number - 1}}">Previous</a>
									</li>
									<li class="paginate_button page-item active" th:each="page : ${#numbers.sequence(0, users.totalPages - 1)}">
                                        <a th:href="@{'/users?page=' + ${page}}" th:class="'page-link ' + (${users.number == page ? 'current-page' : ''})" th:text="${page + 1}"></a>
                                    </li>
                                    <li th:class="'paginate_button page-item next ' + (${users.number == users.totalPages - 1 ? 'disabled' : ''})">
                                        <a class="page-link " th:href="@{'/users?page=' + ${users.number + 1}}">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>

		<footer th:replace="~{products/products :: footer}"></footer>
	</body>
	<script th:inline="javascript">
		function showChangePass ()
		{
			$( '.changePass' ).addClass( 'w-25' );
			$( '.profile' ).removeClass( "w-25" );
		}
		function closeChangePass ()
		{
			$( '.changePass' ).removeClass( "w-25" );
			$( '.closeMask' ).fadeOut();

		}
		function showProfile ()
		{
			$( '.profile' ).addClass( "w-25" );
			$( '.changePass' ).removeClass( "w-25" );
			$( '.closeMask' ).fadeIn();
		}
		function closeProfile ()
		{
			$( '.profile' ).removeClass( "w-25" );
			$( '.closeMask' ).fadeOut();
		}
		$( '.closeMask' ).click( ( e ) =>
		{
			if ( e.target.classList.contains( 'closeMask' ) )
				$( 'button.close.close-mask' ).click();
		} );
		alert_action(/*[[${alert}]]*/ )
	</script>

</html>