body {
	background-color: black;
	color: whitesmoke;
}

.h-0 {
	width: 0 !important;
}

.w-35 {
	width: 35% !important;
}

header {
	border-bottom: 1px solid gray;
	margin-bottom: 50px;
}

#header {
	height: 90px;
	z-index: 1;

}

#logo h1 a {
	font-family: "Kalam", cursive;
	font-size: 35px;
	color: white;
	margin: 0;
}

#logo h1 a:hover {
	color: white;
	text-decoration: none;
}

#menu nav ul {
	font-weight: bold;
	gap: 50px;
	font-size: 20px;
}

#menu a {
	color: white;
}

#menu a:hover {
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 3px solid red;
}

#header-action ul {
	gap: 30px;
}

#header-action i {
	color: black;
	font-size: 25px;
	padding: 10px;
	color: white;
}

#header-action i.fa-shopping-cart:hover {
	border-radius: 50%;
	transition: 0.2s;
	background-color: yellow;
	box-sizing: border-box;
	color: black;
	/* padding-right: 12px; */
}

#header-action i.fa-user-o:hover {
	border-radius: 50%;
	transition: 0.2s;
	background-color: yellow;
	box-sizing: border-box;
	color: black;
	/* padding-right: 12px; */
}

#search {
	width: 300px;
}

.purchase-space button.btn-purchase {
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
	background-color: white;

}

.cart-count {
	text-align: center;
	background-color: rgb(68, 68, 221);
	font-size: 10px;
	font-weight: 500;
	color: white;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	top: 0;
	right: 0;
}

/*shopping cart css*/
.cart {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.cart {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.cart .close {
	width: 5%;
	background-color: red;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	margin: 15px;
}

.cart li {
	margin: 20px 0;
}

.cart .cart-item {
	height: 100px;
	gap: 20px;
}

.cart .item-content {
	gap: 20px;
}

.cart .item-quantity {
	margin-top: auto;
	margin-bottom: auto;
}


.cart h2 {
	padding: 25px 0px 40px 25px;
}

/*User profile*/
.userProfile {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.userProfile {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.userProfile .close {
	width: 5%;
	background-color: red;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	margin: 15px;
}

.userProfile li {
	margin: 20px 0;
}

.userProfile h2 {
	padding: 25px 0px 40px 25px;
}


div.user p {
	padding-left: 20px;
	margin-bottom: 0;
}

div.user input {
	margin-left: 17px;
	width: 382px;
	margin-bottom: 10px;
}

div.user button {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	width: 150px;
	padding-left: 20px;
	padding-right: 30px;
}

/*Card body*/
.card-botBody {
	background-color: #000;
	display: inline-block;
	/* font-family: 'Open Sans', sans-serif; */
	font-size: 16px;
	margin: 10px;
	max-width: 315px;
	min-width: 230px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

.card-botBody * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.card-botBody h3 {
	background-color: #000000;
	border: 2px solid #fff;
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0;
	padding: 5px 10px;
	text-transform: uppercase;
}

.card-botBody:before,
.card-botBody:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	background-color: #000000;
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	content: '';
	opacity: 0.9;
	z-index: 1;
}

.card-botBody:before {
	-webkit-transform: skew(45deg) translateX(-165%);
	transform: skew(45deg) translateX(-165%);
}

.card-botBody:after {
	-webkit-transform: skew(45deg) translateX(165%);
	transform: skew(45deg) translateX(165%);
}

.card-botBody img {
	width: 275px;
	height: 275px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	backface-visibility: hidden;
	max-width: 100%;
}

.card-botBody figcaption {
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 2;
	-webkit-transform: translate(-55%, -55%) scale(0.5);
	transform: translate(-55%, -55%) scale(0.5);
	opacity: 0;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	display: flex;
	text-transform: uppercase;
}

.card-body button {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;

}

.card-botBody:hover>img,
.card-botBody.hover>img {
	opacity: 0.5;
}

.card-botBody:hover:before,
.card-botBody.hover:before {
	-webkit-transform: skew(45deg) translateX(-65%);
	transform: skew(45deg) translateX(-65%);
}

.card-botBody:hover:after,
.card-botBody.hover:after {
	-webkit-transform: skew(45deg) translateX(65%);
	transform: skew(45deg) translateX(65%);
}

.card-botBody:hover figcaption,
.card-botBody.hover figcaption {
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}



.card-product a {
	display: block;
	text-align: center;
}

.card-product h5:hover {
	color: gray;
}

.card-product p {
	text-align: center;
}

/*login css*/
.login {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.login {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.login .close {
	width: 5%;
	background-color: red;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	margin: 15px;
}

.login h2 {
	padding: 25px 0px 40px 25px;
}

.login button.btn-login {
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.closeMask {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 6;
	transition: .3s;
	display: none;
}

.topBody .woodmart-title {
	text-align: center;
	font-size: 25px;
	font-weight: 700;

}

.botBody ul.products-tabs-title {
	display: flex;
	list-style: none;
	gap: 80px;
	justify-content: center;
	margin-bottom: 30px;
}

.botBody h2 {
	text-align: center;
	padding: 100px 0px 20px 0px;
}

.botBody2 h2 {
	text-align: center;
	padding: 100px 0px 20px 0px;
}

#topButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 14px;
	background-color: black;
	color: white;
	/* border: none; */
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 15px;
	/* cursor: pointer; */
}

.topBody .card {
	height: 550px;
	width: 350px;
	border-radius: 15px;
	background-color: #161616;
}

.topBody img {
	width: 300px;
	height: 300px;
	margin: 230px 0px 0px 30px;
}

.footer-container {
	background-color: #161616;
	padding: 30px;

}

.footer-container h1 a {
	font-family: "Kalam", cursive;
	font-size: 35px;
	color: white;
	margin: 0;
}

.footer-container h1 a:hover {
	color: white;
	text-decoration: none;
}

.topFooter {
	top: 10px;
	left: 10px;
}

.topFooter h2 {
	text-align: center;
	padding: 100px 0px 20px 0px;
}

.topFooter .blog-post-loop .entry-header {
	position: relative;
	text-align: center;
}

.topFooter .woodmart-post-date {
	position: absolute;
	top: 10px;
	left: 10px;
	display: inline-block;
	min-width: 53px;
	background-color: #FFF;
	box-shadow: 0 0 9px rgba(0, 0, 0, .1);
	color: #333;
	text-align: center;
	line-height: 1;
}

.topFooter .woodmart-post-date .post-date-day {
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 24px;
}

.topFooter .woodmart-post-date>span {
	display: block;
}

.topFooter .woodmart-post-date .post-date-month {
	padding-top: 2px;
	padding-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: .3px;
	font-weight: 600;
	font-size: 12px;
}

.topFooter .meta-post-categories {
	display: inline-block;
	overflow: hidden;
	padding-right: 10px;
	padding-left: 10px;
	height: 25px;
	color: #FFF;
	line-height: 25px;
	background-color: #9b00ba;
}

.topFooter .meta-post-categories>a {
	display: inline-block;
	color: #FFF;
	vertical-align: top;
	text-transform: uppercase;
	letter-spacing: .3px;
	font-weight: 600;
	font-size: 12px;
}

.topFooter .article-body-container {
	position: relative;
	z-index: 1;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	background-color: #FFF;
	text-align: center;
}

.topFooter .meta-categories-wrapp {
	position: absolute;
	top: -13px;
	right: 15px;
	left: 15px;
	overflow: hidden;
	height: 25px;
	line-height: 25px;
}

.topFooter .entry-header {
	margin: 0;
}

.topFooter h3.entry-title a {
	color: black;
}

.topFooter .entry-content p {
	color: grey;
}

.topFooter .entry-content a {
	color: #9b00ba;
}

.footer-container ul {
	padding: 0;
}

.footer-container ul li {
	list-style: none;
	display: block;
	padding-bottom: 15px;
}

.footer-container ul li::before {
	font-size: 12px;
	margin-right: 15px;
}

.footer-container ul li a {
	color: darkgrey;
}

.footer-container .min-footer {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	margin-right: -15px;
	margin-left: -15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-container div.min-footer>div {
	flex: 1 0 50%;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 50%;
	line-height: 1.2;
}

.seeMore {
	color: white;
	border-width: 2px;
	border: white solid;
	border-radius: 5px;
	padding: 10px;
}

.purchase-space {
	text-align: right;
	padding-right: 40px;
}

/*services*/
.services .card {
	max-width: 540px;
	background-color: #161616;
}

/*--Button Styles--*/

div[class*=box] {
	height: 33.33%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	line-height: 35px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
	padding: none;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}

.btn-one span {
	transition: all 0.3s;
}

.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255, 255, 255, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.5);
	transform: scale(0.1, 1);
}

.btn-one:hover span {
	letter-spacing: 2px;
}

.btn-one:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 15px;
	font-size: 15px;
	border: none;
	transition: background-color 0.3s ease;
	border-radius: 20px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
	opacity: 1;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}


/*mobile*/
@media screen and (max-width: 1200px) {
	#menu {
		display: none;
	}

	.botBody ul.products-tabs-title {
		justify-content: normal;
		gap: 60px;
	}

	.botBody2 ul.products-tabs-title {
		justify-content: normal;
		gap: 60px;
	}

	#topButton {
		right: 50px;
	}

	.article-inner {
		width: 345px;
	}


}