body {
	background-color: black;
	color: whitesmoke;
}

.h-0 {
	width: 0 !important;
}

.w-35 {
	width: 35% !important;
}

header {
	border-bottom: 1px solid gray;
	margin-bottom: 50px;
}

#header {
	height: 90px;
	z-index: 1;

}

#logo h1 a {
	font-family: "Kalam", cursive;
	font-size: 35px;
	color: white;
	margin: 0;
}

#logo h1 a:hover {
	color: white;
	text-decoration: none;
}

#menu nav ul {
	font-weight: bold;
	gap: 50px;
	font-size: 20px;
}

#menu a {
	color: white;
}

#menu a:hover {
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 3px solid red;
}

#header-action ul {
	gap: 30px;
}

#header-action i {
	color: black;
	font-size: 25px;
	padding: 10px;
	color: white;
}

#header-action i:hover {
	border-radius: 50%;
	transition: 0.2s;
	background-color: yellow;
	box-sizing: border-box;
	color: black;
	/* padding-right: 12px; */
}

#search {
	width: 300px;
}

.purchase-space button.btn-purchase {
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
	background-color: white;

}

.cart-count {
	text-align: center;
	background-color: rgb(68, 68, 221);
	font-size: 10px;
	font-weight: 500;
	color: white;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	top: 0;
	right: 0;
}

/*shopping cart css*/
.cart {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.cart {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.cart .close {
	width: 5%;
	background-color: red;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	margin: 15px;
}

.cart li {
	margin: 20px 0;
}

.cart .cart-item {
	height: 100px;
	gap: 20px;
}

.cart .item-content {
	gap: 20px;
}

.cart .item-quantity {
	margin-top: auto;
	margin-bottom: auto;
}


.cart h2 {
	padding: 25px 0px 40px 25px;
}



.card-botBody img {
	width: 275px;
	height: 275px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card-botBody a {
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: 500;

}

.card-botBody p {
	text-align: center;
}

/*login css*/
.login {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.login {
	/* left: 1200px; */
	right: 0;
	top: 0;
	height: 100%;
	background-color: white;
	z-index: 11;
	width: 0;
	transition: 0.5s;
	overflow: hidden;
	color: black;
}

.login .close {
	width: 5%;
	background-color: red;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	margin: 15px;
}

.login h2 {
	padding: 25px 0px 40px 25px;
}

.login button.btn-login {
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.closeMask {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 6;
	transition: .3s;
	display: none;
}

.topBody .woodmart-title {
	text-align: center;
	font-size: 25px;
	font-weight: 700;

}

.botBody ul.products-tabs-title {
	display: flex;
	list-style: none;
	gap: 80px;
	justify-content: center;
	margin-bottom: 30px;
}

.botBody h2 {
	text-align: center;
	padding: 100px 0px 20px 0px;
}

.botBody2 h2 {
	text-align: center;
	padding: 100px 0px 20px 0px;
}

#topButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 14px;
	background-color: black;
	color: white;
	/* border: none; */
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 15px;
	/* cursor: pointer; */
}

.topBody .card {
	height: 550px;
	width: 350px;
	border-radius: 15px;
	background-color: #161616;
}

.topBody img {
	width: 300px;
	height: 300px;
	margin: 230px 0px 0px 30px;
}

.footer-container {
	background-color: #161616;
	padding: 30px;

}

.footer-container h1 a {
	font-family: "Kalam", cursive;
	font-size: 35px;
	color: white;
	margin: 0;
}

.footer-container h1 a:hover {
	color: white;
	text-decoration: none;
}

.topFooter {
	top: 10px;
	left: 10px;
}

.topFooter h2 {
	text-align: center;
	padding: 100px 0px 20px 0px;
}

.topFooter .blog-post-loop .entry-header {
	position: relative;
	text-align: center;
}

.topFooter .woodmart-post-date {
	position: absolute;
	top: 10px;
	left: 10px;
	display: inline-block;
	min-width: 53px;
	background-color: #FFF;
	box-shadow: 0 0 9px rgba(0, 0, 0, .1);
	color: #333;
	text-align: center;
	line-height: 1;
}

.topFooter .woodmart-post-date .post-date-day {
	padding-top: 6px;
	padding-bottom: 4px;
	font-size: 24px;
}

.topFooter .woodmart-post-date>span {
	display: block;
}

.topFooter .woodmart-post-date .post-date-month {
	padding-top: 2px;
	padding-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: .3px;
	font-weight: 600;
	font-size: 12px;
}

.topFooter .meta-post-categories {
	display: inline-block;
	overflow: hidden;
	padding-right: 10px;
	padding-left: 10px;
	height: 25px;
	color: #FFF;
	line-height: 25px;
	background-color: #9b00ba;
}

.topFooter .meta-post-categories>a {
	display: inline-block;
	color: #FFF;
	vertical-align: top;
	text-transform: uppercase;
	letter-spacing: .3px;
	font-weight: 600;
	font-size: 12px;
}

.topFooter .article-body-container {
	position: relative;
	z-index: 1;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	background-color: #FFF;
	text-align: center;
}

.topFooter .meta-categories-wrapp {
	position: absolute;
	top: -13px;
	right: 15px;
	left: 15px;
	overflow: hidden;
	height: 25px;
	line-height: 25px;
}

.topFooter .entry-header {
	margin: 0;
}

.topFooter h3.entry-title a {
	color: black;
}

.topFooter .entry-content p {
	color: grey;
}

.topFooter .entry-content a {
	color: #9b00ba;
}

.footer-container ul {
	padding: 0;
}

.footer-container ul li {
	list-style: none;
	display: block;
	padding-bottom: 15px;
}

.footer-container ul li::before {
	font-size: 12px;
	margin-right: 15px;
}

.footer-container ul li a {
	color: darkgrey;
}

.footer-container .min-footer {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	margin-right: -15px;
	margin-left: -15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-container div.min-footer>div {
	flex: 1 0 50%;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 50%;
	line-height: 1.2;
}

.seeMore {
	color: white;
	border-width: 2px;
	border: white solid;
	border-radius: 5px;
	padding: 10px;
}

.purchase-space {
	text-align: right;
	padding-right: 40px;
}

/*services*/
.services .card {
	max-width: 540px;
	background-color: #161616;
}

/*mobile*/
@media screen and (max-width: 1200px) {
	#menu {
		display: none;
	}

	.botBody ul.products-tabs-title {
		justify-content: normal;
		gap: 60px;
	}

	.botBody2 ul.products-tabs-title {
		justify-content: normal;
		gap: 60px;
	}

	#topButton {
		right: 50px;
	}

	.article-inner {
		width: 345px;
	}
}