.receiver input {
    width: -webkit-fill-available;
}

/* header section start */
.header_section {
    width: 100%;
    float: left;
    background-image: url(../img/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.receiver p {
    margin-bottom: unset;
    margin-top: 15px;
}

.receiver button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 50px;
}

.inCart h4 {
    display: block;
    left: 500px;
    margin-top: 50px;
}