ul ul, ul ol, ol ol, ol ul {
    margin: 0
}

select, input, textarea {
    background: #fff;
    border: 1px solid #eceff8;
    transition: all .3s ease-out 0s
}

select, input {
    height: 40px
}

input, textarea {
    border-radius: 3px
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #999;
    outline: none
}

.form-control:focus {
    box-shadow: none
}

input:focus, select:focus, button:focus {
    outline: none
}

.mb-55 {
    margin-bottom: 55px
}

.pb-40 {
    padding-bottom: 40px
}

.header-middle-area.header-style-3 .header-top-search .search-form-input .nice-select, .header-middle-area.header-style-4 .header-top-search .search-form-input .nice-select, header .header-top-search .search-form-input .nice-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../fonts/ico-select_1.svg)
}

.header-middle-area.header-style-3 .header-top-search .search-form-input .nice-select, .header-middle-area.header-style-4 .header-top-search .search-form-input .nice-select {
    max-width: 154px;
    min-width: 154px;
    width: 154px;
    padding: 0 15px;
    background-position: 143px center
}

.mean-container a.meanmenu-reveal {
    padding: 12px 0 11px
}

.mean-container a.meanmenu-reveal span {
    height: 1px;
    margin-top: 5px
}

.meanclose i {
    color: #fff;
    font-size: 35px;
    line-height: 20px;
    text-align: center;
    position: relative;
    left: -6px;
    top: 2px
}

.mean-container .mean-bar {
    z-index: 1
}

.thumb-category {
    max-width: 50%
}

.wrapper.wrapper-box {
    max-width: 1200px;
    margin: 0 auto
}

.wrapper-box .header-top-area, .wrapper-box #section-footer-info, .wrapper-box #shopify-section-footer-copyright, .wrapper-box {
    margin-left: 15px;
    margin-right: 15px;
}

.wrapper-box .header-sticky.is-sticky {
    left: auto;
    max-width: 1170px;
    right: auto;
    margin-left: 15px
}

.logo a {
    display: block
}

.logo a img {
    max-width: 100%
}

.header-top-left>span {
    font-size: 14px;
    color: #333
}

.ht-dropdown {
    width: 210px
}

.currency-trigger {
    cursor: pointer
}

.currency-trigger i {
    margin-left: 5px
}

.header-top-search .search-form-input .nice-select .list {
    height: auto;
    max-height: 300px
}

.header-top-menu li>span {
    cursor: pointer
}

.header-top-search .search-form-input .nice-select {
    top: 0;
    border-radius: 0
}

nav .main-menu>li.last-elements>ul {
    left: auto;
    right: 0
}

.header-style-3 .search-categories>form input {
    border-radius: 0
}

li.cart-empty-title {
    border-bottom: none
}

li.cart-empty-title h5 {
    margin: 0;
    font-size: 20px
}

.minicart-edit-cart {
    margin-bottom: 15px
}

.cart-items>li {
    border-bottom: 0px solid #ededed
}

.cart-single-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
    position: relative
}

.cart-single-item:last-child {
    border-bottom: 0px solid #ededed
}

.checkout>a {
    text-align: center
}

.header-cart {
    max-height: 500px;
    overflow-y: auto;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    transition: .3s
}

.mini-cart:hover>.header-cart {
    top: 100%;
    visibility: visible;
    opacity: 1
}

.cart-items>li {
    padding: 20px 0 0
}

.cart-items .cart-empty-title {
    padding-bottom: 20px
}

.cart-total>h5 {
    margin: 0
}

.list-categories {
    padding: 13px 20px
}

.cart-total {
    border-top: 1px solid #ededed
}

.category-menu-list>ul>li:hover>a:before, .category-menu-list>ul>li.active>a:before {
    background: #ff6a00;
    border-color: #ff6a00
}

.category-menu-list>ul>li:hover>a, .category-menu-list>ul>li.active>a {
    color: #ff6a00
}

.picaboo-mega-menu {
    left: 0;
    right: auto
}

.category-heading>h2:after {
    content: "";
    background: none;
    width: auto;
    height: auto;
    position: absolute;
    bottom: -17px;
    right: 15px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-style: solid;
    border-top-color: #ff6a00;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent
}

.mega-menu {
    right: auto;
    left: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: inherit
}

.mega-menu.mega-menu-full {
    right: 15px
}

.is-sticky .mega-menu {
    right: 15px;
    left: 15px
}

.main-menu>li.mega-parent {
    position: static
}

.mega-menu>li {
    min-width: 180px
}

.item-link a {
    font-size: 14px;
    font-weight: 700;
    color: #878787;
    line-height: 18px;
    margin: 0 0 15px;
    display: block
}

.mega-menu>li>ul>li>a {
    margin-bottom: 0
}

.product-reviews .spr-badge-caption {
    display: none
}

.product-reviews .spr-badge-starrating .spr-icon {
    font-size: 11.5px;
    margin: 0 1.2px
}

.product-price>span.sale-price {
    font-size: 16px;
    color: #a5a3a3;
    font-weight: 400;
    margin-left: 5px;
    text-decoration: line-through
}

.cart-title {
    height: 35px;
    width: 32px;
    display: block;
    background-color: #008bff;
    border-bottom: 3px solid #0680e5;
    margin-bottom: 5px;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    transition: all .3s ease-out 0s
}

.cart-title:hover {
    background-color: #ff6a00;
    border-bottom: 3px solid #e96405;
    color: #fff
}

.countdown-style1 {
    position: absolute;
    bottom: 30px;
    margin-bottom: 0;
    left: 15px;
    right: 15px;
    background: #ff6a00;
    padding: 3px 0;
    border-radius: 4px;
    opacity: .9
}

.single-countdown {
    border: 0px solid red;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: auto;
    margin: 0;
    padding-top: 3px;
    text-align: center;
    width: 21%
}

.count-number {
    font-size: 18px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 6px
}

.count-title {
    font-size: 12px;
    text-transform: capitalize
}

.countdown-style1>div {
    display: block;
    text-align: center
}

.countdown-style1 .cdown {
    margin-right: 7px;
    margin-left: 7px
}

.countdown-style1 .cdown {
    background: transparent;
    display: inline-block;
    height: auto;
    margin: 0 10px;
    width: auto
}

.countdown-style1 .cdown span {
    color: #008bff;
    font-size: 20px
}

.breadcrumb-list>li {
    font-size: 14px;
    list-style: none;
    display: inline
}

.breadcrumb-list>li a:after {
    content: "/";
    vertical-align: middle;
    margin: 0 5px;
    color: #7a7a7a
}

.breadcrumb-list>li a:hover {
    color: #008bff
}

.brand-active .owl-item img {
    width: auto
}

.breadcrumb-list {
    z-index: 1
}

.breadmome-name {
    margin: 0
}

.breadcrumb-list {
    margin-top: 18px;
    margin-bottom: 15px;
}

.footer-subscribe-form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex
}

.shop-checkbox ul li a {
    margin-left: 0;
    position: relative;
    padding-left: 20px
}

.shop-checkbox ul li a:before {
    height: 10px;
    width: 10px;
    background: #666;
    content: "";
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

.shop-checkbox ul li.active a {
    color: #ff6a00
}

.shop-sidebar .search-categories>form {
    height: auto
}

.shop-checkbox ul li.active a span, .shop-checkbox ul li a:hover span {
    border-color: #ff6a00
}

.shop-checkbox ul li.active a span:before, .shop-checkbox ul li a:hover span:before {
    background: #ff6a00
}

.sidebar-tag li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px
}

.sidebar-tag li a {
    border: 1px solid #ececec;
    padding: 5px 12px;
    display: block;
    border-radius: 2px
}

.sidebar-tag li a:hover, .sidebar-tag li.active a {
    border-color: #ff6a00;
    color: #ff6a00
}

.product-sidebar-color .shop-checkbox ul li {
    margin-right: 5px;
    margin-left: 0;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 0;
    padding: 0;
    border-radius: 100%;
    border: 4px solid #e6e6e6;
    transition: .3s
}

.product-sidebar-color .shop-checkbox ul li a {
    display: block
}

.product-sidebar-color li.active, .product-sidebar-color .shop-checkbox ul li:hover {
    opacity: .6
}

.product-sidebar-color .shop-checkbox ul li strong {
    width: 35px;
    height: 35px;
    display: block;
    margin-left: -4px;
    margin-top: -4px
}

.product-sidebar-color .active strong:before {
    content: "\f00c";
    font-family: fontawesome;
    display: block;
    font-size: 17px;
    line-height: 34px;
    color: #fff
}

.product-sidebar-color .white.active strong:before {
    color: #ff6a00
}

.grid-list-option button {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    background: #ff6a00;
    border-bottom: 3px solid #e96405;
    border-radius: 3px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.grid-list-option button:focus, .grid-list-option button.active, .grid-list-option button:hover {
    background-color: #008bff;
    border-color: #0680e5;
    color: #fff
}

.toolbar-short-area select {
    background-color: #fff;
    height: 36px;
    line-height: 20px;
    border: 1px solid #e8e8e8;
    background-repeat: no-repeat;
    background-position: 96% center
}

.toolbar-shorter label {
    line-height: 26px
}

.page-list a {
    line-height: 17px
}

.shop-product .single-product {
    margin-bottom: 30px
}

.product-list-action>ul>li {
    float: left;
    margin-right: 5px
}

.pro-add-btn span {
    font-size: 14px
}

.list-cart-title {
    width: auto;
    display: inline;
    border-bottom: none;
    margin-bottom: 0
}

.product-add-to-cart .cart-title, .product-add-to-cart .cart-title:hover, .product-list-action .cart-title, .product-list-action .cart-title:hover {
    background-color: transparent;
    border-bottom: none;
    color: inherit
}

.product-add-to-cart .pro-add-btn i, .product-list-action .pro-add-btn i {
    margin-right: 10px;
    font-size: 18px
}

.product-list-action .pro-add-btn {
    background: #008bff;
    border: none;
    border-bottom: 3px solid #0680e5;
    display: block;
    color: #fff;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-transform: capitalize;
    width: 150px;
    font-weight: 400
}

.product-description, .product-list-action {
    margin-top: 20px
}

.page-list i {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle
}

.shop-page-header {
    margin-bottom: 30px
}

.discount {
    margin: 7px 0 0 20px
}

.single-product-price .sale-price {
    font-size: 20px;
    color: #a5a3a3;
    margin-right: 7px;
    text-decoration: line-through
}

.product-details-large {
    position: relative
}

.product-thumbnail a {
    display: block;
    border: 1px solid #ededed;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.product-thumbnail a img {
    width: 100%;
    border: 3px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.product-thumbnail {
    margin: 20px 0
}

.product-thumbnail .owl-nav>div {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #ffffffe0;
    display: block;
    opacity: 0;
    transition: .3s;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #d4d3d3
}

.product-thumbnail .owl-nav>div i {
    line-height: 30px
}

.product-thumbnail .owl-nav>div.owl-next {
    right: 20px;
    left: auto
}

.product-thumbnail:hover .owl-nav>div {
    opacity: 1
}

.product-thumbnail:hover .owl-nav>div.owl-prev {
    left: 0
}

.product-thumbnail:hover .owl-nav>div.owl-next {
    right: 0
}

.product-thumbnail .owl-nav>div:hover {
    color: #fff;
    background: #ff6a00;
    border: 1px solid #ff6a00
}

.add-to-cart {
    display: inline-block
}

.action-wishlist:hover, .action-wishlist:focus {
    color: #fff
}

.add-to-cart.action-wishlist {
    width: 50px;
    text-align: center;
    padding: 0
}

.add-to-cart.action-wishlist i {
    margin-right: 0
}

.single-product-wishlist {
    display: inline-block;
    position: relative;
    margin-left: 20px
}

.wishlist-badge-link {
    position: absolute;
    background: #f25961;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    line-height: 21px;
    font-size: 11px;
    top: -7px;
    right: -7px;
    z-index: 2
}

.wishlist-badge-link:hover i {
    color: #fff
}

.swatch-element.color>label {
    background: transparent;
    display: block;
    float: left;
    height: 35px;
    margin-right: 15px;
    margin-top: 0;
    padding: 0;
    position: relative;
    width: 35px;
    border: 4px solid #e6e6e6;
    border-radius: 100%;
    text-align: center
}

.swatch-element.color input:checked+label {
    border: 4px solid #adacac
}

.swatch-element.color input:checked+label:before {
    content: "\f00c";
    font-family: fontawesome;
    display: block;
    font-size: 17px;
    line-height: 25px;
    color: #fff
}

.swatch-element.color input:checked+label {
    outline: 0px solid #666
}

.swatch-element.color.white input:checked+label:before {
    color: #ff6a00
}

.swatch-element input:checked+label {
    outline: 0px solid #666
}

.swatch-element>label {
    font-size: 16px;
    font-weight: 700
}

.swatch-element input:checked+label {
    color: #ff6a00
}

.swatch-element.color.soldout>label {
    opacity: .2;
    cursor: not-allowed
}

.swatch .header {
    line-height: 35px;
    margin-bottom: 0
}

.single-product-action {
    padding-top: 30px
}

.product-info p {
    margin-top: 0
}

.swatch-element.soldout label:after {
    left: 50%;
    top: 50%;
    content: "\f00d";
    color: #000;
    font-size: 20px;
    text-align: center;
    font-family: fontawesome;
    transform: translate(-50%) translateY(-50%)
}

.single-product-content .single-countdown {
    text-align: left;
    width: auto;
    margin-right: 20px
}

.single-product-content .count-number {
    font-size: 20px;
    color: #ff6a00
}

.single-product-content .count-title {
    color: #333
}

.secure-payment {
    margin-top: 30px
}

.direct-buy-button {
    max-width: 365px;
    margin-top: 25px;
    overflow: hidden;
    display: block;
    width: 100%
}

.product-add-to-cart {
    float: none
}

.direct-buy-button button {
    height: 50px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .7px
}

.shopify-payment-button__button--unbranded {
    background: #008bff !important;
    border-bottom: 3px solid #0680e5 !important;
    transition: .3s !important
}

.direct-buy-button .shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background: #ff6a00 !important;
    border-bottom: 3px solid #e96405 !important
}

.shopify-payment-button__more-options, .direct-buy-button button+button {
    display: none !important
}

.product-variant-option .selector-wrapper select {
    border-radius: 3px;
    text-transform: capitalize
}

.swatch.Material .header, .swatch.Size .header {
    line-height: 18px;
    margin-bottom: 20px
}

.swatch.Material {
    margin-top: 20px
}

.single-product-action {
    float: none
}

.block-reassurance-item i {
    font-size: 25px;
    top: 4px;
    position: relative;
    margin-right: 10px
}

.spr-content .button-primary {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: #434343;
    color: #fff;
    border: 0;
    padding: 8px 20px;
    cursor: pointer;
    margin: 20px 0;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: inline-block
}

.spr-content .button-primary:hover {
    background: #ff6a00;
}

.single-product-review-tab .spr-form-title, .single-product-review-tab .spr-header-title {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.single-product-review-tab .spr-form-label {
    font-size: 14px;
    font-weight: 700;
    margin: 12px 0 4px;
    color: #414141;
    text-transform: capitalize;
}

.single-product-description h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.single-product-share {
    border-top: 0px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding-bottom: 25px
}

.add-to-cart:hover {
    color: #fff
}

#bk-social-proof .social-proof-wrapper li.powered, .product-details .bkt--powered {
    display: none !important
}

.list-product-collection .section-title a {
    float: right;
    line-height: 48px
}

.theme-default-button {
    background-color: #008bff
}

.page-search-bar .page-search-button {
    border-radius: 0 3px 3px 0
}

.page-search-bar .page-search-button:hover {
    background-color: #ff6a00
}

.about-us-content p {
    margin-bottom: 20px
}

.about-us-content p:last-child {
    margin-bottom: 15px
}

.testimonial-author-2 {
    display: block;
    margin: auto;
    max-width: 320px
}

.testimonial-author-2 img {
    border-radius: 100%
}

.contact-form textarea:focus, .contact-form input:focus {
    border: none
}

.btn {
    background-color: #ff6a00;
    border-radius: 3px
}

.btn:hover {
    background-color: #008bff
}

.login-form-container {
    background: transparent;
    padding: 40px 60px 30px
}

.login-form-container input {
    background: #ebebeb
}

.login-form-container input:focus {
    border: none
}

.button-box a {
    margin-left: 20px
}

.form-action-button .default-btn {
    margin: 0 0 20px
}

.register-form {
    padding: 0
}

.login-form-container {
    margin-bottom: 0
}

.my-account-checkbox label {
    margin: 13px 0 0
}

.my-account-page input, .my-account-page textarea, .my-account-page select {
    border: 1px solid #eceff8;
    border-radius: 2px
}

.my-account-page select:focus, .my-account-page textarea:focus, #address_form_new input:focus {
    border: 1px solid #999
}

#AddAddress>input, .my-address .grid__item .grid__item input, .my-address textarea, .my-address select, .my-address .form-vertical>input {
    border: 1px solid #eceff8;
    border-radius: 2px
}

.form-vertical input[type=submit] {
    display: block;
    width: auto
}

.grid__item.two-thirds>form {
    margin-bottom: 30px
}

.grid__item.two-thirds form h3 {
    font-size: 20px
}

.my-account-page h1, .my-account-page h2, .my-account-page h3, .my-account-page h4, .my-account-page h5, .my-account-page h6 {
    margin-bottom: 20px;
    font-weight: 400
}

.my-account-page .grid__item h3 {
    margin-bottom: 10px
}

.empty-cart-page h2 {
    margin-bottom: 30px
}

.empty-cart-page a {
    color: #ff6a00
}

.template-cart .breadcrumbs-title h1 {
    margin-bottom: 0
}

.table-content table td {
    text-align: center
}

.Shopping-cart-area .cart-plus-minus {
    padding-right: 17px
}

.Shopping-cart-area .dec.qtybutton, .Shopping-cart-area .inc.qtybutton {
    width: 20px;
    height: 20px;
    line-height: 20px
}

.cart-buttons {
    text-align: right
}

.cart-buttons {
    margin-top: 0
}

.cart-buttons .default-btn {
    font-size: 13px;
    padding: 12px 20px;
    border-radius: 3px;
    height: 42px;
    width: auto;
    margin: 10px 0
}

.cart-page-total {
    font-weight: 700
}

.cart-page-total button[type=submit] {
    border-radius: 3px;
    font-size: 13px;
    height: 42px
}

.shipping-info button {
    font-size: 13px;
    padding: 8px 20px;
    height: 42px;
    border-radius: 3px
}

.culculate-shipping h3, .cart-coupon h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize
}

.cart-coupon, .culculate-shipping {
    margin-top: 50px
}

.culculate-shipping ul li {
    list-style: none
}

.cart-buttons .default-btn:focus {
    background: #ff6a00;
    color: #fff;
    border: none
}

.media-link--image {
    position: relative
}

.media-link--image .add-to-cart {
    position: absolute;
    top: 5px;
    right: 5px
}

.post-title {
    line-height: 25px
}

.empty-list--info a {
    color: #ff6a00
}

.error-text>h1 {
    line-height: 146px
}

.error-text img {
    margin-bottom: 30px
}

.blog-post-date {
    color: #333
}

.search__sidbar input.input_text {
    background: none;
    border: 1px solid #ededed;
    height: 34px;
    padding: 0 40px 0 15px;
    width: 100%;
    color: #333
}

.single-top-rated {
    overflow: hidden
}

.top-rated-img {
    width: 100px;
    float: left;
    margin-right: 10px
}

.top-rated-text {
    overflow: hidden
}

.top-rated-text a {
    text-transform: none;
    font-size: 14px;
    display: block
}

.product-filter dt {
    font-size: 13px;
    margin: 0 0 2px
}

.entry-summary.blog-post-description {
    font-size: 15px;
    line-height: 25px;
    color: #333;
    text-align: left
}

.single-post-tag .comment {
    margin-right: 10px;
    display: inline-block
}

.blog-post-description .social-sharing {
    text-align: center
}

.comments-area ol {
    margin: 0
}

.comment-info strong {
    color: #333;
    display: block;
    font-weight: 700;
    font-size: 14px
}

.comments-area .commentlist li .single-comment {
    padding: 20px;
    overflow: hidden
}

.single-input .default-btn {
    margin: 0
}

.comment-box input, .comment-box textarea {
    border: none;
    border-radius: 3px
}

.comment-box input:focus, .comment-box textarea:focus {
    border: none
}

.blog-pagination .page-list {
    padding: 10px 20px;
    width: 50%;
    text-align: center;
    margin: 0 auto
}

.page-list>ul>li.next, .blog-pagination .page-list>ul>li.prev {
    float: none
}

.article-next-previous p {
    margin: 0
}

.count-style-3 .single-countdown {
    margin-right: 10px
}

.count-style-3 .count-number {
    width: 46px;
    height: 46px;
    background-color: #eaeaea;
    display: block;
    font-size: 15px;
    line-height: 46px;
    text-align: center;
    color: #000;
    border-bottom: 3px solid #e0e0e0;
    border-radius: 100%;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto
}

.count-style-3 .count-title {
    font-size: 12px;
    margin-top: 12px;
    color: #333;
    display: inline-block
}

.single-fature2>.feature2-icon:before {
    content: none !important
}

.feature2-icon i {
    font-size: 48px;
    color: #e40046
}

.search-categories>form input {
    border-radius: 0 3px 3px 0
}

.line-border {
    position: relative
}

.line-border:before {
    position: absolute;
    content: "";
    right: -2px;
    top: 50%;
    width: 1px;
    height: 20px;
    background-color: #a1a1a1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1
}

.single-product-list.color-style3.mb-30:last-child {
    margin-bottom: 0
}

.col-12 .single-product:first-child {
    margin-bottom: 30px
}

.col-12 .single-product:last-child {
    margin-bottom: 0
}

.shop-area .col-12 .single-product {
    margin-bottom: 30px
}

.product-grid-view, .product-list-view {
    padding: 30px 15px 15px
}

.faq-desc h3 {
    line-height: 26px
}

.faq-desc p, .card-body {
    font-size: 14px;
    line-height: 24px
}

.page-search-title {
    line-height: 26px
}

.page-search-pagination .page-list {
    width: 100%;
    margin-top: 0
}

.page-search-pagination .page-list>ul>li {
    float: none
}

.page-search-pagination .pagination-product {
    padding-top: 10px
}

.checkout>a, .checkout>a:hover, .cart-sticker, .view-more>a:hover {
    color: #fff
}

.badge-wrapper>span:nth-child(1) {
    top: 10px
}

.badge-wrapper>span:nth-child(2) {
    top: 40px
}

.badge-wrapper>span:nth-child(3) {
    top: 70px
}

.cart-items .cart-empty-title {
    display: none
}

.mini-cart>a:hover {
    color: #333c4a
}

#quickViewModal .close {
    color: #333;
    float: none;
    right: 0;
    top: 0;
    z-index: 2
}

#quickViewModal .close:hover {
    color: #ff6a00
}

.product-price>span.regular-price.main {
    font-size: 16px
}

.select-option-part select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.quickview-btn-cart button {
    height: 48px
}

.product-price .price.price-box__new, .product-price .regular-price.main {
    font-weight: 500
}

.product-price .regular-price.main {
    text-decoration: none
}

.product-price .regular-price.main.amount {
    color: #999;
    text-decoration: line-through;
    margin-right: 0;
    margin-left: 5px
}

h4.product_title {
    margin-bottom: 20px
}

.product-price.product-info__price {
    margin-bottom: 15px
}

.subscribe-form-group form>p input {
    height: 14px;
    position: relative;
    top: 3px;
    margin-right: 2px
}

.newsletter-btn {
    background: #008bff;
    border: 0;
    border-bottom: 3px solid #0680e5;
    border-radius: 3px
}

.subscribe-image img {
    max-width: 100%;
    border-radius: 3px 0 0 3px
}

.mobile-menu .mean-bar .mean-nav>ul li .mega-menu li ul {
    background: transparent
}

.mobile-menu .mean-bar .mean-nav>ul li ul li ul li a {
    padding-left: 35px
}

.main-menu>li>ul {
    opacity: 0;
    visibility: hidden
}

.single-product-action .bk-stock-countdown {
    overflow: hidden
}

.single-product-action .bk-stock-countdown .progress-bar {
    margin-top: 0
}

.single-product-action .bk-stock-countdown>div {
    margin: 20px 0 10px
}

.single-product-description ul {
    list-style: none
}

button[disabled], html input[disabled] {
    cursor: not-allowed
}

.single-product-content .single-countdown {
    text-align: center
}

.single-product-content .count-number {
    font-size: 30px;
    font-weight: 700
}

.product-sidebar-color .shop-checkbox ul li strong {
    width: 35px;
    height: 35px;
    display: block;
    margin-left: -4px;
    margin-top: -4px;
    position: relative
}

.product-sidebar-color .active strong:before {
    content: "\f00c";
    font-family: fontawesome;
    display: block;
    font-size: 17px;
    line-height: 34px;
    color: #fff;
    position: absolute;
    left: 9px
}

input#forgetMe {
    position: relative;
    height: auto;
    top: 2px
}

.popup_off {
    font-size: 30px
}

.form-control:focus, .contact-form textarea:focus, .contact-form input:focus, .popup_wrapper .subscribe-form-input:focus {
    border: 1px solid #ddd
}

.newsletter-form form {
    padding: 0;
    box-shadow: none;
    background: transparent
}

.wishlist_exists .row.wishlist-grid--empty-list {
    display: none
}

.accordion summary {
    display: flex;
    position: relative;
    line-height: 1;
    padding: 10px 0;
    cursor: pointer
}

.accordion .summary__title {
    display: flex;
    flex: 1
}

.accordion+.accordion {
    margin-top: 0;
    border-top: none
}

.accordion {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.accordion__title {
    display: inline-block;
    max-width: calc(100% - 6rem);
    margin: 0;
    word-break: break-word;
    line-height: 22px;
    font-size: 17px;
    color: #242424;
    font-weight: 500
}

.accordion .icon-accordion {
    align-self: center;
    min-width: 1.6rem;
    margin-right: 1rem;
    fill: red
}

.accordion details[open]>summary .icon-caret {
    transform: rotate(180deg)
}

.accordion__content {
    margin-bottom: 1.5rem;
    word-break: break-word;
    padding: 0 15px
}

.accordion__content img {
    max-width: 100%
}

summary .icon-caret {
    position: absolute;
    height: .5rem;
    right: 5px;
    top: calc(50% - .25rem)
}

.accordion__content h2 {
    font-size: 20px
}

.accordion__content ul {
    list-style: inside;
    margin-bottom: 12px
}

small.unit_price_box.caption.hidden {
    display: none
}

small.unit_price_box.caption {
    font-size: 13px;
    font-weight: 600;
    margin-top: 0;
    display: block
}

.block-reassurance {
    float: none
}

.product-sku {
    margin: 0 0 10px
}

.price {
    margin: 0
}

.product-discount {
    margin-bottom: 0
}

.single-product-price {
    margin-top: 0;
    margin-bottom: 10px
}

.product-inventory {
    margin: 0 0 10px
}

.product-info {
    margin: 0 0 30px
}

.swatch.Material .header, .swatch.Size .header {
    margin-bottom: 0
}

.swatch {
    margin-bottom: 20px
}

.product-add-to-cart {
    margin: 0 0 20px
}

.direct-buy-button {
    margin: 0 0 25px
}

.secure-payment {
    margin: 0 0 30px
}

.single-product-share {
    padding-top: 0
}

.single-product-share>ul>li {
    margin-left: 0
}

.single-product-share {
    border-top: 0px solid #ececec;
    border-bottom: 0 solid #ececec;
    padding-bottom: 10px
}

.custom-payment-options {
    margin: 0 0 20px
}

.custom-payment-options p {
    margin: 0 0 5px
}

.block-reassurance {
    margin: 0 0 30px
}

.product-footer-meta {
    margin: 0 0 10px
}

.product-footer-meta p {
    margin: 0
}

.product-variant-option .selector-wrapper+.selector-wrapper {
    margin-top: 0
}

.product-variant-option .selector-wrapper {
    margin: 0 0 20px
}

.sidebar-price-filter {
    display: flex;
    justify-content: space-between
}

.sidebar-price-filter input {
    width: 70px;
    padding: 10px 5px;
    background: transparent;
    border: 1px solid #e5e5e5
}

.sidebar-list-style .theme-default-button {
    margin: 20px 0 0
}

.sidebar-price-filter label {
    font-size: 14px
}

.sidebar-list-style ul li label, .storefront-filter .shop-checkbox ul li {
    cursor: pointer
}

.storefront-filter .shop-checkbox ul li label {
    cursor: pointer;
    color: #333;
    font-size: 14px;
    font-weight: 400
}

.storefront-filter .shop-checkbox ul li label:hover {
    color: #ff6a00
}

.storefront-filter .shop-checkbox ul li input {
    margin: 0 5px 0 0;
    height: auto;
    width: auto
}

/*# sourceMappingURL=/cdn/shop/t/10/assets/theme-custom.css.map?v=7976273518087674661645970600 */