<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src='/js/bootstrap.min.js'></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery-3.0.0.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/js/validation/checkExist.js"></script>
        <script src="/js/validation/checkQuantity.js"></script>
        <script src="/js/validation/checkAddToCart.js"></script>

        <!-- <script src="/js/custom.js"></script> -->
        <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <script src="/js/pages/jquery.toast.js"></script>
        <script src="/js/pages/toastr.js"></script>
        <script src="/js/pages/toastrUser.js"></script>
        <script src="/js/onChange.js" defer></script>


        <link rel="stylesheet" href="/css/pages/jquery.toast.css" />
        <link rel='stylesheet' href='/css/font-awesome.min.css'>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <link rel="icon" href="images/fevicon.png" type="image/gif">
        <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
            media="screen">
    </head>
    <title>Home Page</title>

    <body>
        <!-- header section start -->
        <div class="header_section">
            <div class="container" id="header" th:fragment="header_section">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div id="logo" th:fragment="logo" class="logo">
                        <h1><a href="/">NAP</a></h1>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" th:fragment="menu">
                        <ul class="navbar-nav mr-2">
                            <li class="nav-item active" style="margin: 0 20px 0 20px;">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item" style="margin: 0 20px 0 20px;">
                                <a class="nav-link" href="/list-products">Products</a>
                            </li>
                            <li class="nav-item" style="margin: 0 20px 0 17px;">
                                <a class="nav-link" href="/#aboutUs">About</a>
                            </li>
                        </ul>
                        <form id="searchForm" action="/products/search" method="post">
                            <input id="search" class="form-control mr-sm-1" placeholder="Search" name="keywords">
                            <button type="submit" style="display: none;"></button>
                        </form>
                        <li class="nav-item">
                            <a onclick="showcart()">
                                <i class="nav-link fa fa-shopping-cart" aria-hidden="true" style="font-size: 30px;"></i>
                                <span class="position-absolute cart-count" th:if="${session.cart  == null}">
                                    <p>0</p>
                                </span>
                                <span class="position-absolute cart-count" th:if="${session.cart!= null}">
                                    <p th:text="${session.cart.getListItem().size()}"></p>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a onclick="showLogin()" th:if="${session.user == null}"><i class="nav-link fa fa-user"
                                    aria-hidden="true" style="font-size: 30px;"></i></a>
                            <div th:if="${session.user != null}" class="dropdown">
                                <button class="dropbtn" th:text="'Hi, '+ ${session.user.getUsername()}"
                                    style="white-space: nowrap;"></button>
                                <div class="dropdown-content">
                                    <a href="#" onclick="showUserProfile()">
                                        Profile
                                    </a>
                                    <a th:href="@{/users/order-history/{userId}(userId=${session.user.getId()})}">View
                                        history Order</a>
                                    <a th:href="@{/users/logout}">Logout</a>
                                </div>
                            </div>
                        </li>
                    </div>
                </nav>
                <div class="userProfile position-fixed">
                    <h2>User profile</h2>
                    <button onclick="closeUserProfile()" type="button" class="close close-mask" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="user">
                        <div class="container">
                            <div class="row" id="profileForm" style="margin-bottom: 10px;"
                                th:if="${session.user!=null}">
                                <form action="/users/update-user" method="POST" th:object="${user}">
                                    <input type="hidden" name="id" th:field="*{id}">
                                    <input type="hidden" name="mode" value="user">
                                    <div class="form-group">
                                        <p>Full-name: </p>
                                        <input type="text" th:field="*{fullname}" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <p>Numberphone: </p>
                                        <input type="text" th:field="*{numberphone}" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <p>Address: </p>
                                        <input type="text" th:field="*{address}" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <p>Email: </p>
                                        <input id="originalEmail" name="originalEmail" th:value="${user.getEmail()}"
                                            hidden>
                                        <input type="email" th:field="*{email}" class="form-control" name="email"
                                            required onfocusout="checkExistEmail()" id="emailInput">
                                        <span id="emailError" style="color: red;"></span>

                                    </div>
                                    <div class="form-group">
                                        <p>Date of birth</p>
                                        <input type="date" th:field="*{dob}" class="form-control" required>
                                    </div>
                                    <button type="submit" id="submitRegister" class="btn btn-info"><i
                                            class="fa fa-check"></i>
                                        Save
                                    </button>
                                </form>
                                <button class="btn btn-info" onclick="showChangePassword()"
                                    th:if="${!user.getType().toString().equals('EMAIL')}">Change
                                    password
                                </button>
                            </div>
                            <div class="row d-none" id="changePassword" style="margin-bottom: 10px;"
                                th:if="${session.user!=null}">
                                <form action="/users/do-change-pass" method="POST" th:object="${user}">
                                    <input type="hidden" name="id" th:field="*{id}">
                                    <input type="hidden" name="mode" value="user">

                                    <label for="password" class="col-lg-12">
                                        <h5>Enter your old password</h5>
                                    </label>
                                    <div class="form-group">
                                        <input id="password" type="password" class="form-control " required
                                            onchange="onChange()" name="oldPassword">

                                        <input type="checkbox" onclick="showPass()" style="width: 20px;">
                                        Show password
                                    </div>
                                    <label for="password" class="col-lg-12">
                                        <h5> New Password</h5>
                                    </label>
                                    <div class="form-group">
                                        <input id="newPassword" type="password" class="form-control " required
                                            onchange="onChange()" name="newPassword">
                                        <input type="checkbox" onclick="showNewPass()" style="width: 20px;">
                                        Show password
                                    </div>

                                    <label for="password" class="col-lg-12">
                                        <h5> Confirm Password</h5>
                                    </label>
                                    <div class="form-group">
                                        <input id="confirmPassword" type="password" class="form-control " required
                                            onchange="onChange()">

                                        <input type="checkbox" onclick="showConfirmPassword()" style="width: 20px;">
                                        Show password
                                    </div>
                                    <button type="submit" class="btn btn-info"><i class="fa fa-check"></i>
                                        Save
                                    </button>
                                    <a href="#" onclick="closeChangePassword()" class="btn btn-danger">
                                        Cancel</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="login position-fixed" th:fragment="login">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="card" id="CustomerLoginForm" style="border: none;">
                                    <h2>Login</h2>
                                    <div class="card-body">
                                        <form action="/login-user" method="POST">
                                            <div class="form-group">
                                                <label for="username">
                                                    <h6>Username</h6>
                                                </label>
                                                <input type="text" class="form-control" id="username" name="username"
                                                    placeholder="Enter username" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">
                                                    <h6>Password</h6>
                                                </label>
                                                <input type="password" class="form-control" id="password"
                                                    name="password" placeholder="Enter password" required>
                                            </div>
                                            <button type="submit" class="btn-login">Login</button>
                                            <br />
                                        </form><a
                                            href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:80/login-google&response_type=code&client_id=737514218091-4d9nc8u2milj8vpqr5i4o1a57sm2jpme.apps.googleusercontent.com&approval_prompt=force"
                                            class="gsi-material-button-contents">
                                            <button class="gsi-material-button"
                                                style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px;">
                                                <div class="gsi-material-button-state"></div>
                                                <div class="gsi-material-button-content-wrapper">
                                                    <div class="gsi-material-button-icon">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 48 48"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            style="display: block;">
                                                            <path fill="#EA4335"
                                                                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                                                            </path>
                                                            <path fill="#4285F4"
                                                                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                                                            </path>
                                                            <path fill="#FBBC05"
                                                                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                                                            </path>
                                                            <path fill="#34A853"
                                                                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                                                            </path>
                                                            <path fill="none" d="M0 0h48v48H0z"></path>
                                                        </svg>
                                                    </div>
                                                    Sign in
                                                </div>
                                            </button></a>
                                        <a href="#" id="RecoverPassword" onclick="showRecoverPassword()">Forgot your
                                            password?</a>
                                        <a href="#" onclick="showRegister()" style="padding-left: 5px;">Register</a>
                                    </div>
                                </div>
                                <div class="card d-none" id="RecoverPasswordForm" style="border: none;">
                                    <h2>Reset your password</h2>
                                    <div class="card-body ">
                                        <form method="post" action="/users/forgot-password" accept-charset="UTF-8">
                                            <div class="form-group">
                                                <label for="RecoverEmail">
                                                    <h6>Email</h6>
                                                </label>
                                                <input type="email" name="email" id="RecoverEmail" class="form-control"
                                                    autocorrect="off" autocapitalize="off">
                                            </div>
                                            <button type="submit" class="btn-login">Submit</button>
                                            <br />
                                            <a href="#" id="HideRecoverPasswordLink" class="btn btn-danger"
                                                style="width: 110px;" onclick="closeRecoverPassword()">Cancel</a>
                                        </form>
                                    </div>
                                </div>
                                <div class="card d-none" id="register" style="border: none;">
                                    <h2>Register</h2>
                                    <form action="/users/save-user" method="POST" th:object="${user}">
                                        <input type="hidden" name="mode" value="user">
                                        <div class="form-group">
                                            <p>Username: </p>
                                            <input type="text" class="form-control" id="usernameInput" name="username"
                                                onfocusout="checkUsername()" required>
                                            <span id="usernameError" style="color: red;"></span>

                                        </div>
                                        <div class="form-group">
                                            <p>Password: </p>
                                            <input type="password" class="form-control" name="password" required>
                                        </div>
                                        <div class="form-group">
                                            <p>Full-name: </p>
                                            <input type="text" class="form-control" name="fullname" required>
                                        </div>
                                        <div class="form-group">
                                            <p>Numberphone: </p>
                                            <input type="text" class="form-control" name="numberphone" required>
                                        </div>
                                        <div class="form-group">
                                            <p>Address: </p>
                                            <input type="text" class="form-control" name="address" required>
                                        </div>
                                        <div class="form-group">
                                            <p>Email: </p>
                                            <input id="originalEmail" name="originalEmail" value="" hidden>
                                            <input type="email" class="form-control" name="email" id="emailInput"
                                                onfocusout="checkExistEmail()" required>
                                            <span id="emailError" style="color: red;"></span>

                                        </div>
                                        <div class=" form-group">
                                            <p>Date of birth</p>
                                            <input type="date" class="form-control" name="dob" required>
                                        </div>
                                        <button type="submit" class="btn btn-info" id="submitRegister"><i
                                                class="fa fa-check"></i>
                                            Register
                                        </button>
                                        <a href="#" onclick="closeRegister()" class="btn btn-danger"
                                            style="display: inline-block;">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button onclick="closeLogin()" type="button" class="close close-mask" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <!-- shopping cart -->
            <div class="cart position-fixed">
                <h2>Shopping Cart</h2>
                <button onclick="closecart()" type="button" class="close close-mask" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 th:if="${session.cart==null}" style="margin-left: 20px;">There are no items</h3>
                <!-- product -->
                <div class="product" th:if="${session.cart!=null}">
                    <div class="container">
                        <input id="cartId" name="cartId" th:value="${session.cart.getId()}" hidden>
                        <div class="row" th:each=" item : ${session.cart.getListItem()}" style="margin-bottom: 10px;">
                            <div class="col-2">
                                <img th:src="${item.getProduct().getImages()}" style="width: 100%;">
                            </div>
                            <div class="col-4" style="max-width: 30%;">
                                <a class="productName" th:text="${item.getProduct().getName()}"
                                    th:href="@{'/products/get-product-infor/' + ${item.getProduct().getId()}}"></a>
                            </div>

                            <div>
                                <input id="page" name="page" value="home" hidden>
                                <input id="productId" name="productId" th:value="${item.getProduct().getId()}" hidden>
                                <input id="productPrice" name="productPrice" th:value="${item.getProduct().getPrice()}"
                                    hidden>
                                <button id="decreaseBtn" class="decreaseBtn">-</button>

                                <input name="productQuantity" id="productQuantity"
                                    th:value="${item.getProduct().getQuantity()}" hidden>
                                <input type="text" id="quantity" name="quantity" th:value="${item.getQuantity()}"
                                    style="width: 50px; height: 50px; padding: 0; text-align: center;" readonly>

                                <button id="increaseBtn" class="increaseBtn">+</button>
                            </div>

                            <div class="col-2 formatPrice" style="padding-left: 30px; padding-top: 10px;" id="subtotal"
                                th:text="${item.getSubtotal()}">
                            </div>
                            <div class="col-2">
                                <!-- <button type="submit" class="close">x</button> -->
                                <a th:href="@{/users/delete-product-in-cart(productId=${item.getProduct().getId()}, mode='inHome')}"
                                    class="close"><span>x</span></a>
                            </div>
                            <br />
                        </div>
                        <br />
                    </div>
                </div>
                <hr th:if="${session.cart != null}">
                <div class="checkout-space" th:if="${session.cart != null}">
                    <div class=" total-checkout">
                        <h4>Total: <span th:text="${session.cart.getTotal()}" class="formatPrice" id="total"></span>
                        </h4>
                    </div>
                    <br />
                    <a th:href="@{/users/checkout-page}" th:if="${session.user != null}">
                        <button class="btn-checkout" id="checkoutBtn">Checkout
                        </button>
                    </a>
                    <a onclick="showLogin()" th:if="${session.user == null}">
                        <button class="btn-checkout" id="checkoutBtn">Checkout
                        </button>
                    </a>
                </div>
            </div>
            <!-- end shopping cart -->

            <div class="closeMask"></div>
            <!-- banner section start -->
            <div class="banner_section layout_padding">
                <div id="main_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:each=" item: ${newests}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h1 class="banner_taital" th:text="${item.name}"></h1>
                                        <!-- <p class="banner_text" th:text="${item.description}"></p> -->
                                        <div class="btn_main">
                                            <div class="read_bt"><a href="/list-products">See More</a></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="image_1"><img th:src="${item.getImages()}" style="max-width: 80%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" th:each=" product: ${products}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h1 class="banner_taital" th:text="${product.name}"></h1>
                                        <!-- <p class="banner_text" th:text="${product.description}"></p> -->
                                        <div class="btn_main">
                                            <div class="read_bt"><a href="/list-products">See more</a></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="image_1"><img th:src="${product.getImages()}"
                                                style="max-width: 80%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="blog_section layout_padding" id="aboutUs">
            <h1 class="blog_taital">What We Do</h1>

            <div class="container">
                <div data-action="true" class="ladi-element">
                    <div class="ladi-group d-flex ">
                        <div>
                            <div id="HEADLINE112" class="ladi-element">
                                <h3 class="ladi-headline ladi-transition">Website for electronic commerce NAP&nbsp;
                                </h3>
                            </div>
                            <div class="ladi-line ladi-transition"></div>
                            <div id="HEADLINE114" class="ladi-element">
                                <h3 class="ladi-headline ladi-transition">NAP is a commercial electronics brand
                                    with thousands of products including Storage, PC, Laptop, and Networking
                                    Systems....<br />
                                </h3>
                            </div>
                            <a href="/list-products" id="BUTTON115" class="ladi-element">
                                <div class="ladi-button ladi-transition">
                                    <div class="ladi-button-background">
                                        <p>Shopping now</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="IMAGE117" class="ladi-element">
                            <div class="ladi-image ladi-transition">
                                <div class="ladi-image-background">
                                    <img src="/img/about1.png" alt="about1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="d-flex">
                        <div class="ladi-group d-flex align-items-center">
                            <div style="width: 60%;">
                                <div id="HEADLINE112" class="ladi-element">
                                    <h3 class="ladi-headline ladi-transition">Enterprise
                                        <br />
                                        solutions
                                    </h3>
                                </div>
                                <div class="ladi-line ladi-transition"></div>
                                <div id="HEADLINE114" class="ladi-element">
                                    <h3 class="ladi-headline ladi-transition">Providing products and solutions for
                                        businesses.<br />
                                    </h3>
                                </div>
                            </div>
                            <div id="IMAGE117" class="ladi-element">
                                <div class="ladi-image ladi-transition">
                                    <div class="ladi-image-background">
                                        <img src="/img/about2.png" alt="about2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#contactUs">
                            <div class="ladi-group cs d-flex align-items-center">
                                <div style="width: 60%; height: 200px;">
                                    <div id="HEADLINE112" class="ladi-element">
                                        <h3 class="ladi-headline ladi-transition">Customer
                                            <br />support
                                        </h3>
                                    </div>
                                    <div class="ladi-line ladi-transition"></div>
                                    <div id="HEADLINE114" class="ladi-element">
                                        <h3 class="ladi-headline ladi-transition">
                                            You can contact us via the "Contact" section.
                                        </h3>
                                    </div>
                                </div>
                                <div id="IMAGE117" class="ladi-element" style="width: 40%;">
                                    <div class="ladi-image ladi-transition">
                                        <div class="ladi-image-background">
                                            <img src="/img/about3.png" alt="about3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="repair_section layout_padding">
                <div class="container">
                    <h1 class="repair_taital">The lastest graphics</h1>
                    <p class="repair_text"
                        style="margin-top: 10px; margin-bottom: 10px; font-size: 20px; font-weight: 600;">NVIDIA</p>
                    <div class="row">
                        <div class="card-product col-lg-4 col-sm-12 col-md-12" th:each=" item : ${productsByNVIDIA}">
                            <div class="card-botBody text-white">
                                <img th:src="${item.getImages()}">

                                <p id="productAvailable" th:text="${item.getQuantity()}" hidden></p>

                                <a th:href="@{'/users/add-to-cart/' + ${item.id} + '?mode=' + inHome}"
                                    th:onclick="'check(event,' + ${item.id} + ',' + ${item.getQuantity()} + ')'">
                                    <figcaption>
                                        <div class="box-1">
                                            <div class="btn btn-one">
                                                <span>
                                                    Add to Cart
                                                </span>
                                            </div>
                                        </div>
                                    </figcaption>
                                </a>
                            </div>
                            <h5><a class="product-name" th:text="${item.getName()}"
                                    th:href="@{'/products/get-product-infor/' + ${item.id}}"></a>
                            </h5>
                            <p th:text="${item.getPrice()}" class="formatPrice"></p>
                        </div>
                    </div>
                </div>
                <p class="repair_text"
                    style="margin-top: 10px; margin-bottom: 10px; font-size: 20px; font-weight: 600;">AMD
                </p>
                <div class="container">
                    <div class="row">
                        <div class="card-product col-lg-4 col-sm-12 col-md-12" th:each=" item : ${productsByAMD}">
                            <div class="card-botBody text-white">
                                <img th:src="${item.getImages()}">

                                <p id="curProductId" th:text="${item.getId()}" hidden></p>
                                <p id="productAvailable" th:text="${item.getQuantity()}" hidden></p>

                                <a id="add-to-cart-link "
                                    th:href="@{'/users/add-to-cart/' + ${item.id} + '?mode=' + inHome}">
                                    <figcaption>
                                        <div class="box-1">
                                            <div class="btn btn-one">
                                                <span>
                                                    Add to Cart
                                                </span>
                                            </div>
                                        </div>
                                    </figcaption>
                                </a>
                            </div>
                            <h5><a class="product-name" th:text="${item.getName()}"
                                    th:href="@{'/products/get-product-infor/' + ${item.id}}"></a></h5>
                            <p th:text="${item.getPrice()}" class="formatPrice"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  repair section end -->
        <!-- contact section start -->
        <div class="contact_section layout_padding" id="contactUs">
            <div class="container">
                <h1 class="contact_taital">Contact Us</h1>
                <p class="contact_text" style="margin-bottom: 20px;">Dear valued customer, You have the option to either
                    visit the store or send us
                    an email.
                </p>
                <div class="row">
                    <div class="col-lg-6" style="text-align: center;">
                        <div class="map_main">
                            <div class="map-responsive">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.807998174833!2d106.66359397573807!3d11.053017354029551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1d7df763eaf%3A0xf4323e44f2867057!2zxJDhuqFpIGjhu41jIFF14buRYyB04bq_IE1p4buBbiDEkMO0bmc!5e0!3m2!1svi!2s!4v1710043748798!5m2!1svi!2s"
                                    frameborder="0" loading="lazy" style="border:0; width: 570px;height: 500px;"
                                    allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mail_section">
                            <form action="/send-contact" method="post">
                                <input type="text" class="mail_text" placeholder="Name" name="name" required>
                                <input type="text" class="mail_text" placeholder="Email" name="email" required>
                                <input type="text" class="mail_text" placeholder="Phone Number" name="numberphone"
                                    required>
                                <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="message"
                                    required></textarea>
                                <div class="send_bt"><input type="Submit" value="Send"></div>
                            </form>
                            <img src="/img/contact.png" class="contact-png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact section end -->
        <!-- footer section start -->
        <div class="footer_section" th:fragment="footer_section">
            <div class="container">
                <div class="footer_location_text">
                    <ul>
                        <li><i class="fa fa-globe" aria-hidden="true"></i>
                            <span class="padding_left_10"><a href="#">NAP hosting
                                    web</a></span>
                        </li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>
                            <span class="padding_left_10"><a href="#">Call :
                                    0964503530</a></span>
                        </li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <span class="padding_left_10"><a href="#">s2tore@gmail.com</a></span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Useful link </h2>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/#aboutUs">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Address</h2>
                        <p class="lorem_text">3M38+6F3, Nam Kỳ Khởi Nghĩa, Định Hoà, Thủ Dầu Một, Bình Dương
                        </p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">social media</h2>
                        <div class="social_icon">
                            <ul>
                                <li>
                                    <a href="#">
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                            class="icon icon-facebook" viewBox="0 0 18 18">
                                            <path
                                                d="M16.42.61c.27 0 .5.1.69.28.19.2.28.42.28.7v15.44c0 .27-.1.5-.28.69a.94.94 0 01-.7.28h-4.39v-6.7h2.25l.31-2.65h-2.56v-1.7c0-.4.1-.72.28-.93.18-.2.5-.32 1-.32h1.37V3.35c-.6-.06-1.27-.1-2.01-.1-1.01 0-1.83.3-2.45.9-.62.6-.93 1.44-.93 2.53v1.97H7.04v2.65h2.24V18H.98c-.28 0-.5-.1-.7-.28a.94.94 0 01-.28-.7V1.59c0-.27.1-.5.28-.69a.94.94 0 01.7-.28h15.44z">
                                            </path>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                            class="icon icon-twitter" viewBox="0 0 18 15">
                                            <path
                                                d="M17.64 2.6a7.33 7.33 0 01-1.75 1.82c0 .05 0 .13.02.23l.02.23a9.97 9.97 0 01-1.69 5.54c-.57.85-1.24 1.62-2.02 2.28a9.09 9.09 0 01-2.82 1.6 10.23 10.23 0 01-8.9-.98c.34.02.61.04.83.04 1.64 0 3.1-.5 4.38-1.5a3.6 3.6 0 01-3.3-2.45A2.91 2.91 0 004 9.35a3.47 3.47 0 01-2.02-1.21 3.37 3.37 0 01-.8-2.22v-.03c.46.24.98.37 1.58.4a3.45 3.45 0 01-1.54-2.9c0-.61.14-1.2.45-1.79a9.68 9.68 0 003.2 2.6 10 10 0 004.08 1.07 3 3 0 01-.13-.8c0-.97.34-1.8 1.03-2.48A3.45 3.45 0 0112.4.96a3.49 3.49 0 012.54 1.1c.8-.15 1.54-.44 2.23-.85a3.4 3.4 0 01-1.54 1.94c.74-.1 1.4-.28 2.01-.54z">
                                            </path>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                            class="icon icon-youtube" viewBox="0 0 100 70">
                                            <path
                                                d="M98 11c2 7.7 2 24 2 24s0 16.3-2 24a12.5 12.5 0 01-9 9c-7.7 2-39 2-39 2s-31.3 0-39-2a12.5 12.5 0 01-9-9c-2-7.7-2-24-2-24s0-16.3 2-24c1.2-4.4 4.6-7.8 9-9 7.7-2 39-2 39-2s31.3 0 39 2c4.4 1.2 7.8 4.6 9 9zM40 50l26-15-26-15v30z">
                                            </path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h1 class="useful_text">Our Web center</h1>
                        <p class="footer_text">NAP is an e-commerce website specializing in selling all computer
                            components.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <button id="topButton" style="display: none;"><i class="fa fa-arrow-up"></i></button>

    </body>
    <script th:inline="javascript">
        alert_action(/*[[${ alert }]]*/ )
    </script>

</html>