<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{homePage :: head}"></head>
    <link rel="styleSheet" href="/css/listProducts.css">
    <link rel="stylesheet" href="/css/theme-custom.css" />

    <title>List products</title>

    <body>

        <div th:replace="~{homePage :: header_section}"></div>
        <div>
            <h2 style="text-align: center; margin-top: 20px; margin-bottom: -25px;">Shop</h2>
        </div>
        <div class="breadcrumb-wrapper">
            <div class="breadcrumb-area breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <nav class role="navigation" aria-label="breadcrumbs">
                                    <ul class="breadcrumb-list">
                                        <li>
                                            <a href="/" title="Back to the home page">Home</a>
                                        </li>
                                        <li>
                                            <span>Products</span>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS SETCTION END -->
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="/list-products">
                        <p style="font-size: 18px;">All products</p>
                    </a>
                    <ul style="margin-bottom: 10px; font-size: 18px"> Catogies
                        <a th:each="category: ${categories}"
                            th:href="@{/products-by-category(categoryName=${category.getName()})}">
                            <li th:text="${category.getName()}" style="margin-left: 10px; list-style: inside;"></li>
                        </a>
                    </ul>
                    <ul style="margin-bottom: 10px; font-size: 18px;"> Manufacturers
                        <a th:each="manufacturer: ${manufacturers}"
                            th:href="@{/products-by-manufacturer(manufacturerName=${manufacturer.getName()})}">
                            <li th:text="${manufacturer.getName()}" style="margin-left: 10px; list-style: inside;"></li>
                        </a>
                    </ul>
                </div>
                <div class="col-lg-10">
                    <div class="item" th:each=" item: ${products}">
                        <div class="card mb-3">
                            <div class="row no-gutters" style="align-items: center;">
                                <div class="col-lg-3">
                                    <img th:src="${item.getImages()}">
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${item.getName()}"> </h5>
                                        <p class="card-text" th:text="${item.getDescription()}"> </p>

                                        <p class="card-text" style="font-weight: 600;">Category: <span
                                                th:text="${item.getCategory().getName()}"
                                                style="font-weight: normal;"></span></p>

                                        <p class="card-text" style="font-weight: 600;">Manufacturer: <span
                                                th:text="${item.getManufacturer().getName()}"
                                                style="font-weight: normal;"></span>
                                        </p>
                                        <p class="card-text" style="font-weight: 600;">Price: <span
                                                th:text="${item.getPrice()}" style="font-weight: normal;"
                                                class="formatPrice"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <a th:href="@{/users/add-to-cart/{producId}(producId=${item.id})}">
                                        <button class="button-89" role="button"
                                            style="margin-top: 60px; margin-left: 90px;">Add to cart</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace=" ~{homePage.html :: footer_section}">
        </footer>

        <button id="topButton"><i class="fa fa-arrow-up"></i></button>

    </body>
    <script th:inline="javascript">
        $( document ).ready( function ()
        {
            $( '.formatPrice' ).each( ( i, e ) =>
            {
                let val = +( $( e ).text() );
                $( e ).text( formatMoney( val ) );
            } );

            function formatMoney ( number )
            {
                return number.toLocaleString( 'vi-VN', {
                    style: 'currency', currency: 'VND'
                } );
            }
        } );

        function showPass ()
        {
            var p = document.getElementById( "password" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function showNewPass ()
        {
            var p = document.getElementById( "newPassword" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function showConfirmPassword ()
        {
            var p = document.getElementById( "confirmPassword" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function onChange ()
        {
            var password = document.querySelector( 'input[id=newPassword]' );
            var confirm = document.querySelector( 'input[id=confirmPassword]' );
            if ( confirm.value === password.value )
            {
                confirm.setCustomValidity( '' );
            } else
            {
                confirm.setCustomValidity( 'Passwords do not match' );
            }
        }
        function showChangePassword ()
        {
            $( "#changePassword" ).removeClass( "d-none" );
            $( "#profileForm" ).addClass( "d-none" );

        }

        function closeChangePassword ()
        {
            $( "#changePassword" ).addClass( "d-none" );
            $( "#profileForm" ).removeClass( "d-none" );

        }
        function showRecoverPassword ()
        {
            $( "#CustomerLoginForm" ).addClass( "d-none" )
            $( "#RecoverPasswordForm" ).removeClass( "d-none" );
        }
        function closeRecoverPassword ()
        {
            $( "#RecoverPasswordForm" ).addClass( "d-none" );
            $( "#CustomerLoginForm" ).removeClass( "d-none" )
            $( "#register" ).addClass( "d-none" );

        }

        function showRegister ()
        {
            $( "#register" ).removeClass( "d-none" );
            $( "#CustomerLoginForm" ).addClass( "d-none" );
        }
        function closeRegister ()
        {
            $( "#register" ).addClass( "d-none" );
            $( "#CustomerLoginForm" ).removeClass( "d-none" );

        }

        $( '.closeMask' ).click( ( e ) =>
        {
            if ( e.target.classList.contains( 'closeMask' ) )
                $( 'button.close.close-mask' ).click();
            closeRecoverPassword();
        } );

        $( document ).ready( function ()
        {
            $( window ).scroll( function ()
            {
                if ( $( this ).scrollTop() > 100 )
                {
                    $( '#topButton' ).fadeIn();
                } else
                {
                    $( '#topButton' ).fadeOut();
                }
            } );

            $( '#topButton' ).click( function ()
            {
                $( 'html, body' ).animate( { scrollTop: 0 }, 400 );
                return false;
            } );
        } );

        function showUserProfile ()
        {
            $( '.userProfile' ).addClass( "w-25" );
            $( '.closeLogin' ).fadeIn();
            $( '.closeMask' ).fadeIn();
        }
        function closeUserProfile ()
        {
            $( '.userProfile' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();
        }

        function showLogin ()
        {
            $( '.login' ).addClass( "w-25" );
            $( '.closeLogin' ).fadeIn();
            $( '.closeMask' ).fadeIn();
        }
        function closeLogin ()
        {
            $( '.login' ).removeClass( "w-25" )
            $( '.closeLogin' ).fadeOut();
            $( '.closeMask' ).fadeOut();
        }

        function showcart ()
        {
            $( '.cart' ).addClass( "w-32" )
            $( '.closeLogin' ).fadeIn();
            $( '.closeMask' ).fadeIn();
        }
        function closecart ()
        {
            $( '.cart' ).removeClass( "w-32" )
            $( '.closeMask' ).fadeOut();
        }
        function quantityPlus ( e )
        {
            let quantity = $( e ).closest( 'div' ).find( 'input' );
            quantity.val( +quantity.val() + 1 );
        }
        function quantityMinus ( e )
        {
            let quantity = $( e ).closest( 'div' ).find( 'input' );
            quantity.val( +quantity.val() - 1 );
        }
        alert_action(/*[[${ alert }]]*/ )
    </script>


</html>