<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{homePage :: head}"></head>
    <link rel="styleSheet" href="/css/listProducts.css">

    <title>List products</title>

    <body>

        <header>
            <div class="container d-flex align-items-center justify-content-between" id="header">
                <div th:replace="homePage :: logo"></div>
                <div th:replace="homePage :: menu"></div>
                <div th:replace="homePage :: header_section"></div>
                <div th:replace="homePage :: login"></div>
            </div>
        </header>
        <div class="closeMask"></div>
        </div>
        <div>
            <h2 style="text-align: center;">Shop</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a href="/list-products">
                        <p>All products</p>
                    </a>
                    <ul>Catogies
                        <a th:each="category: ${categories}"
                            th:href="@{/products-by-category(categoryName=${category.getName()})}">
                            <li th:text="${category.getName()}"></li>
                        </a>
                    </ul>
                    <ul>
                        Manufacturers
                        <a th:each="manufacturer: ${manufacturers}"
                            th:href="@{/products-by-manufacturer(manufacturerName=${manufacturer.getName()})}">
                            <li th:text="${manufacturer.getName()}"></li>
                        </a>
                    </ul>
                </div>
                <div class="col-lg-10">
                    <div class="item" th:each=" item: ${products}">
                        <div class="card mb-3">
                            <div class="row no-gutters" style="background-color: black; border: 1px solid;">
                                <div class="col-lg-3">
                                    <img th:src="${item.getImages()}" width="200px" height="220px">
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${item.getName()}"> </h5>
                                        <p class="card-text" th:text="${item.getDescription()}"> </p>
                                        <p class="card-text" th:text="${item.getCategory().getName()}"> </p>
                                        <p class="card-text" th:text="${item.getManufacturer().getName()}"> </p>
                                        <p class="card-text" th:text="${item.getPrice()} + 00VND"> </p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <a th:href="@{/users/add-to-cart/{producId}(producId=${item.id})}">
                                        <button class="button-89" role="button"
                                            style="margin-top: 60px; margin-left: 90px;">Add to cart</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <footer th:replace=" ~{homePage.html :: footer_section}">
        </footer>

        <button id="topButton"><i class="fa fa-arrow-up"></i></button>

    </body>
    <script th:inline="javascript">
        function showPass ()
        {
            var p = document.getElementById( "password" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function showNewPass ()
        {
            var p = document.getElementById( "newPassword" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function showConfirmPassword ()
        {
            var p = document.getElementById( "confirmPassword" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
        function onChange ()
        {
            var password = document.querySelector( 'input[id=newPassword]' );
            var confirm = document.querySelector( 'input[id=confirmPassword]' );
            if ( confirm.value === password.value )
            {
                confirm.setCustomValidity( '' );
            } else
            {
                confirm.setCustomValidity( 'Passwords do not match' );
            }
        }
        function showChangePassword ()
        {
            $( "#changePassword" ).removeClass( "d-none" );
            $( "#profileForm" ).addClass( "d-none" );

        }

        function closeChangePassword ()
        {
            $( "#changePassword" ).addClass( "d-none" );
            $( "#profileForm" ).removeClass( "d-none" );

        }
        function showRecoverPassword ()
        {
            $( "#CustomerLoginForm" ).addClass( "d-none" )
            $( "#RecoverPasswordForm" ).removeClass( "d-none" );
        }
        function closeRecoverPassword ()
        {
            $( "#RecoverPasswordForm" ).addClass( "d-none" );
            $( "#CustomerLoginForm" ).removeClass( "d-none" )
            $( "#register" ).addClass( "d-none" );

        }

        function showRegister ()
        {
            $( "#register" ).removeClass( "d-none" );
            $( "#CustomerLoginForm" ).addClass( "d-none" );
        }
        function closeRegister ()
        {
            $( "#register" ).addClass( "d-none" );
            $( "#CustomerLoginForm" ).removeClass( "d-none" );

        }

        $( '.closeMask' ).click( ( e ) =>
        {
            if ( e.target.classList.contains( 'closeMask' ) )
                $( 'button.close.close-mask' ).click();
            closeRecoverPassword();
        } );

        $( document ).ready( function ()
        {
            $( window ).scroll( function ()
            {
                if ( $( this ).scrollTop() > 100 )
                {
                    $( '#topButton' ).fadeIn();
                } else
                {
                    $( '#topButton' ).fadeOut();
                }
            } );

            $( '#topButton' ).click( function ()
            {
                $( 'html, body' ).animate( { scrollTop: 0 }, 400 );
                return false;
            } );
        } );

        function showUserProfile ()
        {
            $( '.userProfile' ).addClass( "w-25" );
            $( '.closeLogin' ).fadeIn();
            $( '.closeMask' ).fadeIn();
        }
        function closeUserProfile ()
        {
            $( '.userProfile' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();
        }

        function showLogin ()
        {
            $( '.login' ).addClass( "w-25" );
            $( '.closeLogin' ).fadeIn();
            $( '.closeMask' ).fadeIn();
        }
        function closeLogin ()
        {
            $( '.login' ).removeClass( "w-25" )
            $( '.closeLogin' ).fadeOut();
            $( '.closeMask' ).fadeOut();
        }

        function showcart ()
        {
            $( '.cart' ).addClass( "w-35" )
            $( '.closeLogin' ).fadeIn();
            $( '.closeMask' ).fadeIn();
        }
        function closecart ()
        {
            $( '.cart' ).removeClass( "w-35" )
            $( '.closeMask' ).fadeOut();
        }
        function quantityPlus ( e )
        {
            let quantity = $( e ).closest( 'div' ).find( 'input' );
            quantity.val( +quantity.val() + 1 );
        }
        function quantityMinus ( e )
        {
            let quantity = $( e ).closest( 'div' ).find( 'input' );
            quantity.val( +quantity.val() - 1 );
        }
        alert_action(/*[[${alert}]]*/ )
    </script>

</html>