<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{homePage :: head}"></head>

    <title>Payment success</title>

    <body>
        <!-- back to top -->

        <!-- start body -->
        <div class="body py-5">
            <div class="container">
                <div class="w-50 m-auto">
                    <!-- Thêm lớp "my-4" để tạo ra khoảng cách trên và dưới tiêu đề trang -->
                    <h1 class="my-3 text-success text-center">Payment success</h1>
                    <!-- Sử dụng lớp "alert" và "alert-danger" để tạo ra thông báo lỗi -->
                    <h2 class="my-2">Order details</h2>
                    <!-- Sử dụng lớp "table" và "table-bordered" để tạo ra bảng hiển thị thông tin chi tiết đơn hàng -->
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Order information:</td>
                                <td><span th:text="${orderId}">[order ID]</span></td>
                            </tr>
                            <tr>
                                <td>User Name:</td>
                                <td><span th:text="${name}">[name]</span></td>
                            </tr>
                            <tr>
                                <td>User Address:</td>
                                <td><span th:text="${address}">[address]</span></td>
                            </tr>
                            <tr>
                                <td>User Numberphone:</td>
                                <td><span th:text="${numberphone}">[numberphone]</span></td>
                            </tr>
                            <tr>
                                <td>Total amount:</td>
                                <td><span th:text="${totalPrice}" class="priceFormat">[total price]</span></td>
                            </tr>
                            <tr>
                                <td>Payment time:</td>
                                <td><span th:text="${paymentTime}" id="paymentTime">[payment time]</span></td>
                            </tr>
                            <tr>
                                <td>Transaction code:</td>
                                <td><span th:text="${transactionId}">[transaction ID]</span></td>
                            </tr>

                        </tbody>
                    </table>
                    <a href="/" class="btn btn-primary">Back to homepage</a>
                </div>
            </div>
        </div>
        <!-- end body -->


        <!-- start footer -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>
    <script>
        $( document ).ready( function ()
        {
            $( '.priceFormat' ).each( ( i, e ) =>
            {
                let val = + $( e ).text();
                $( e ).text( formatMoney( val ) );
            } );

            function formatMoney ( n )
            {
                var number = n / 100;
                return number.toLocaleString( 'vi-VN', {
                    style: 'currency', currency: 'VND'
                } );
            }
        } );

        function convertPaymentTime ( paymentTime )
        {
            const year = parseInt( paymentTime.substring( 0, 4 ) );
            const month = parseInt( paymentTime.substring( 4, 6 ) );
            const day = parseInt( paymentTime.substring( 6, 8 ) );
            const hour = parseInt( paymentTime.substring( 8, 10 ) );
            const minute = parseInt( paymentTime.substring( 10, 12 ) );
            const second = parseInt( paymentTime.substring( 12, 14 ) );

            const date = new Date( year, month, day, hour, minute, second );
            const formattedDate = `${ day.toString().padStart( 2, '0' ) }/${ month.toString().padStart( 2, '0' ) }/${ year }, ${ date.toLocaleTimeString( 'en-US' ) }`;

            return formattedDate;
        }

        function displayFormattedPaymentTime ()
        {
            const paymentTimeElement = document.getElementById( 'paymentTime' );
            const paymentTime = paymentTimeElement ? paymentTimeElement.innerText : '';

            if ( paymentTime )
            {
                const formattedDate = convertPaymentTime( paymentTime );

                paymentTimeElement.innerText = formattedDate;
            } else
            {
                paymentTimeElement.innerText = 'Invalid payment time';
            }
        }

        window.onload = displayFormattedPaymentTime;

    </script>

</html>