<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{products/products::head}"></head>
    <link rel="stylesheet" href="/css/create_user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">

        <nav th:replace="~{categories/create_category.html :: header-navbar}"></nav>
        <div th:replace="~{products/products.html :: main-menu}"></div>

        <div class="container mt-4">
            <h2 class="page-title">Add Staff</h2>
            <br>
            <form th:action="@{/staffs/save-staff(id=${staff.id})}" th:object="${staff}" method="POST">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-xs-12" style="margin-bottom: -10px;">
                        <div class="white-box">
                            <div class="form-group">
                                <label for="full-name" class="col-md-12">
                                    <h5>Staff full-name</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="full-name" th:field="*{fullname}" type="text" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="usernameInput" class="col-md-12">
                                    <h5>Staff-Username</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="usernameInput" th:field="*{username}" type="text" class="form-control"
                                        onfocusout="checkUsername()" required>
                                    <span id="usernameError" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-12">
                                    <h5>Password</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="password" th:field="*{password}" type="password"
                                        class="form-control mb-1" required>

                                    <input type="checkbox" onclick="showPass()"> Show password
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="col-md-12">
                                    <h5>Phone-number</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="phoneNumber" th:field="*{numberphone}" type="text" class="form-control"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-md-12">
                                    <h5>Email</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="originalEmail" name="originalEmail" value="" hidden>
                                    <input id="emailInput" th:field="*{email}" type="email" class="form-control"
                                        onfocusout="checkExistEmail()" required>
                                    <span id="emailError" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="idCard" class="col-md-12">
                                    <h5>Id-card</h5>
                                </label>
                                <div class="col-md-12">
                                    <input id="idcard" th:field="*{idcard}" type="text" class="form-control"
                                        onfocusout="checkIdcard()" required>
                                    <span id="idcardError" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dob" class="col-md-12">
                                    <h5>Date of birth</h5>
                                </label>
                                <div class="col-md-12" style="margin-bottom: 35px;">
                                    <input id="dob" th:field="*{dob}" type="date" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="white-box">
                            <div class="form-actions">
                                <button id="submitRegister" type="submit" class="btn btn-info"><i
                                        class="fa fa-check"></i>
                                    Create
                                </button>
                                <button type="button" onclick="location.href='/staffs'" class="btn btn-danger">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="~{products/products :: footer}"></footer>
    </body>
    <script>

        function showPass ()
        {
            var p = document.getElementById( "password" );
            if ( p.type === "password" )
            {
                p.type = "text";
            } else
            {
                p.type = "password";
            }
        }
    </script>

</html>