<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{products/products ::head}"></head>
	<script src="/js/pages/toastrUser.js"></script>


	<body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">
		<nav th:fragment="header-navbar"
			class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
			<div class="navbar-wrapper">
				<div class="navbar-header">
					<ul class="nav navbar-nav flex-row" style="padding: 10px;">
						<div id="logo">
							<h1><a href="/">NAP</a></h1>
						</div>
					</ul>
				</div>
				<div class="navbar-container content">
					<div class="collapse navbar-collapse" id="navbar-mobile">
						<ul class="nav navbar-nav mr-auto float-left">
							<a th:href="@{/staffs/create-staff}">
								<button class="custom-btn btn-13">
									<h7>+ staff</h7>
								</button>
							</a>
						</ul>
						<ul th:replace="~{products/products.html :: login-space}"></ul>
					</div>
				</div>
			</div>
		</nav>

		<div th:replace="~{products/products.html :: main-menu}"></div>


		<div class="app-content content">
			<div class="content-wrapper">
				<div class=" content-header row">
					<h4>List Staffs</h4>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-2">
						<h5>Staff Full-name</h5>
					</div>
					<div class="col-lg-1">
						<h5>Username</h5>
					</div>
					<div class="col-lg-2">
						<h5>Email</h5>
					</div>
					<div class="col-lg-1">
						<h5>Phone</h5>
					</div>
					<div class="col-lg-1">
						<h5>DoB</h5>
					</div>
					<div class="col-lg-2">
						<h5>Idcard</h5>
					</div>
					<div class="col-lg-2">
						<h5>Action</h5>
					</div>
				</div>
				<br>

				<div class="content-body" th:each=" staff: ${staffs}">
					<div class="row grouped-multiple-statistics-card">
						<div class="col-lg-2">
							<p th:text="${staff.fullname}"></p>
						</div>
						<div class="col-lg-1">
							<p th:text="${staff.username}"></p>
						</div>
						<div class="col-lg-2">
							<p th:text="${staff.email}"></p>
						</div>
						<div class="col-lg-1">
							<p th:text="${staff.numberphone}"></p>
						</div>
						<div class="col-lg-1">
							<p th:text="${staff.dob}"></p>
						</div>
						<div class="col-lg-2">
							<p th:text="${staff.idcard}"></p>
						</div>
						<div class="col-lg-2">
							<a th:href="@{/staffs/edit/{id}(id=${staff.id})}" th:if="${staff.status == 0}"
								style="text-decoration: none;">
								<button class="custom-btn btn-14" style="width: 100px;">
									<h7>Edit</h7>
								</button>
							</a>
							<a th:href="@{/staffs/change-status/{id}(id=${staff.id})}">
								<button class="custom-btn btn-5" style="width: 100px;" th:if="${staff.status == 0}">
									<h7>Disable</h7>
								</button>
								<button class="custom-btn btn-6" style="width: 100px;" th:if="${staff.status == 1}">
									<h7>Enable</h7>
								</button>
							</a>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>

		<footer th:replace="~{products/products :: footer}"></footer>
	</body>
	<script th:inline="javascript">
		function showChangePass ()
		{
			$( '.changePass' ).addClass( 'w-25' );
			$( '.profile' ).removeClass( "w-25" );
		}
		function closeChangePass ()
		{
			$( '.changePass' ).removeClass( "w-25" );
			$( '.closeMask' ).fadeOut();

		}
		alert_action(/*[[${alert}]]*/ )
	</script>

</html>