<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{products/products ::head}"></head>
    <script src="/js/pages/toastrUser.js"></script>


    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar">
        <nav th:fragment="header-navbar"
            class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row" style="padding: 10px;">
                        <div id="logo">
                            <h1><a href="/">NAP</a></h1>
                        </div>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            <a th:href="@{/staffs/create-staff}">
                                <button class="custom-btn btn-13">
                                    <h7>+ staff</h7>
                                </button>
                            </a>
                            <h4 style="margin: auto;margin-left: 600px">List Staffs</h4>
                        </ul>
                        <ul th:fragment="login-space" class="nav navbar-nav float-right"
                            style="width: 85px; overflow: hidden;">
                            <li>
                                <button th:if="${session.admin!=null}" id="toggleButton" onclick="toggleButtons()"
                                    class="option"><span th:text="${session.admin.getUsername()}"></span></button>

                                <button th:if="${session.staff!=null}" id="toggleButton" onclick="toggleButtons()"
                                    class="option"><span th:text="${session.staff.getUsername()}"></span></button>

                                <div id="buttonContainer">
                                    <a href="#" onclick="showProfile()" th:if="${session.admin==null}" class="option"
                                        style="margin-right: 10px;">Edit Profile</a>
                                    <a th:href="@{/logout}" class="option">Logout</a>
                                </div>

                                <div th:fragment="profile" class="profile position-fixed">
                                    <h2>Staff profile</h2>
                                    <button onclick="closeProfile()" type="button" class="close close-mask"
                                        aria-label="Close">
                                        <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                                    </button>
                                    <div class="staff" th:if="${session.staff!=null}">
                                        <div class="container">
                                            <div class="row" style="margin-bottom: 10px;" id="profileForm">
                                                <form action="/staffs/update-staff" method="POST" th:object="${staff}">
                                                    <input type="hidden" name="id" th:field="*{id}">
                                                    <input type="hidden" name="mode" value="staff">
                                                    <input type="hidden" name="mode" value="staff"><input
                                                        id="usernameInput" th:field="*{username}" type="text"
                                                        class="form-control" hidden>
                                                    <span id="usernameError" style="color: red;"></span>
                                                    <div class="form-group">
                                                        <p>Full-name: </p>
                                                        <input type="text" class="form-control" th:field="*{fullname}">
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Numberphone: </p>
                                                        <input type="text" class="form-control"
                                                            th:field="*{numberphone}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Email: </p>
                                                        <input id="originalEmail" name="originalEmail"
                                                            th:value="${staff.getEmail()}" hidden>
                                                        <input id="emailInput" th:field="*{email}" type="email"
                                                            class="form-control" onfocusout="checkExistEmail()">
                                                        <span id="emailError"
                                                            style="color: red;padding-left: 18px;"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Dob: </p>
                                                        <input type="date" class="form-control" th:field="*{dob}">
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Id card: </p>
                                                        <input type="text" class="form-control" th:field="*{idcard}"
                                                            readonly>
                                                    </div>

                                                    <button type="submit" id="submitRegister" class="btn btn-info">
                                                        <i class="fa fa-check"></i>
                                                        Save
                                                    </button>
                                                </form>
                                                <a href="#">
                                                    <button class="btn btn-info" onclick="showChangePass()">
                                                        <i class="fa fa-check"></i>
                                                        Change password
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:fragment="changePass" class="changePass position-fixed"
                                    th:if="${session.staff!=null}">
                                    <h2>Change password</h2>
                                    <button onclick="closeChangePass()" type="button" class="close close-mask"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="container">
                                        <div class="row ">
                                            <div class="col-lg-12">
                                                <form action="/staffs/do-change-pass" method="POST">
                                                    <input type="hidden" th:value="${session.staff.getId()}" name="id">
                                                    <div class="form-group">
                                                        <p> Enter old password: </p>
                                                        <input type="password" name="oldPassword" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <p> Enter new password: </p>
                                                        <input type="password" name="newPassword" class="form-control">
                                                    </div>
                                                    <button type="submit" class="btn btn-info">
                                                        <i class="fa fa-check"></i>
                                                        Save
                                                    </button>
                                                    <br />
                                                    <a href="#" class="btn btn-danger" onclick="closeChangePass()">
                                                        <i class="fa fa-check"></i>
                                                        Cancel
                                                    </a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div th:replace="~{products/products.html :: main-menu}"></div>

        <!-- BEGIN: Content-->
        <div class="app-content content">
            <div class="content-wrapper">

                <div class="content-body">
                    <table id="dataTable" class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Staff Full-name
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    NumberPhone
                                </th>
                                <th>
                                    DoB
                                </th>
                                <th>
                                    Idcard
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="staff : ${staffs}">
                                <td class="text-dashboard" th:text="${staff.id}"></td>
                                <td class="text-dashboard" th:text="${staff.fullname}"></td>
                                <td class="text-dashboard" th:text="${staff.username}"></td>
                                <td class="text-dashboard" th:text="${staff.email}"></td>
                                <td class="text-dashboard" th:text="${staff.numberphone}"></td>
                                <td class="text-dashboard" th:text="${staff.dob}"></td>
                                <td class="text-dashboard" th:text="${staff.idcard}"></td>
                                <td>
                                    <a th:href="@{/staffs/change-status/{id}(id=${staff.id})}">
                                        <button class="custom-btn btn-5" th:if="${staff.status == 1}">Disable</button>
                                        <button class="custom-btn btn-6" th:if="${staff.status == 0}">Enable</button>
                                    </a>
                                    <br />
                                    <a th:href="@{/staffs/edit/{id}(id=${staff.id})}" th:if="${staff.status == 1}"
                                        style="text-decoration: none;">
                                        <button class="custom-btn btn-14">
                                            <h7>Edit</h7>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        </div>

        <footer th:replace="~{products/products :: footer}"></footer>
    </body>
    <script th:inline="javascript">
        function showChangePass ()
        {
            $( '.changePass' ).addClass( 'w-25' );
            $( '.profile' ).removeClass( "w-25" );
        }

        function closeChangePass ()
        {
            $( '.changePass' ).removeClass( "w-25" );
            $( '.closeMask' ).fadeOut();

        }
        new DataTable( '#dataTable', {
            "order": [ [ 0, "dec" ] ],
            "columnDefs": [
                { "orderable": false, "targets": [ 5, 7 ] }
            ]
        } );
        alert_action(/*[[${alert}]]*/ )
    </script>

</html>